<div class="page-titles">
  <ol class="breadcrumb">
    <li>
      <h5 class="bc-title">Usuarios</h5>
    </li>
    <li class="breadcrumb-item"><a href="javascript:void(0)">
      <i class="fa-solid fa-house-chimney"></i>
        Inicio </a>
    </li>
    <li class="breadcrumb-item active"><a href="javascript:void(0)">Usuarios</a></li>
  </ol>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-3 col-xxl-4">
      <div class="card h-auto">
        <div class="card-header">
          <h4 *ngIf="!usuario" class="heading mb-0">Agregar Usuaio</h4>
          <h4 *ngIf="usuario" class="heading mb-0">Editar Usuario</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="usuarioForm" class="finance-hr">
            <div class="form-group mb-3">
              <label class="text-secondary"> Nombre <span class="text-danger">*</span>
              </label>
              <input formControlName="nombre" type="text" class="form-control" placeholder="Nombre">
            </div>

            <div class="form-group mb-3">
              <label class="text-secondary"> Apellido <span class="text-danger">*</span>
              </label>
              <input formControlName="apellido" type="text" class="form-control" placeholder="Apellido">
            </div>

            <div class="form-group mb-3">
              <label class="text-secondary"> DPI <span class="text-danger">*</span>
              </label>
              <input formControlName="dpi" type="text" class="form-control" placeholder="DPI">
            </div>

            <div class="form-group mb-3">
              <label class="text-secondary"> Usuario <span class="text-danger">*</span>
              </label>
              <input formControlName="usuario" type="text" class="form-control" placeholder="Usuario">
            </div>

            <div *ngIf="!usuario" class="form-group mb-3">
              <label class="text-secondary"> Clave <span class="text-danger">*</span>
              </label>
              <input formControlName="clave" type="text" class="form-control" placeholder="Clave">
            </div>

            <div class="form-group mb-3">
              <label class="text-secondary font-w500"> Regional <span class="text-danger">*</span>
              </label>
              <select formControlName="id_regional" class="form-control">
                <option *ngFor="let r of regionales" [value]="r.id">{{r.nombre}}</option>
              </select>
            </div>

            <div *ngIf="!usuario">
              <button (click)="postUsuario()" type="button" class="btn btn-primary mb-3" [ngClass]="{'disabled': usuarioForm.invalid}">
                Guardar
              </button>
            </div>
            <div *ngIf="usuario">
              <button (click)="putUsuario()" type="button" class="btn btn-primary mb-3" [ngClass]="{'disabled': usuarioForm.invalid}">
                Guardar
              </button>
              <button style="margin-left: 10px;" (click)="cancelarEdicion()" type="button" class="btn btn-primary mb-3">
                Cancelar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xl-9 col-xxl-8">
      <div class="card">
        <div class="card-body p-0">
          <div class="table-responsive active-projects manage-client">
            <div class="tbl-caption">
              <h4 class="heading mb-0">Usuarios</h4>
            </div>
            <table id="empoloyees-tbl1" class="table">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>DPI</th>
                  <th>Usuario</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let u of usuarios; let uindex = index">
                  <td><a class="text-primary">{{u.nombre}}</a></td>
                  <td><a class="text-primary">{{u.apellido}}</a></td>
                  <td>{{u.dpi}}</td>
                  <td>{{u.usuario}}</td>
                  <td>
                    <div class="dropdown">
                      <button type="button" class="btn btn-primary light sharp" data-bs-toggle="dropdown">
                        <i class="fa-solid fa-list"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" (click)="setUsuario(u, uindex)">Editar</a>
                        <a class="dropdown-item" (click)="deleteUsuario(u, uindex)">Eliminar</a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
