<div class="page-titles">
  <ol class="breadcrumb">
    <li>
      <h5 class="bc-title">Usuarios</h5>
    </li>
    <li class="breadcrumb-item"><a href="javascript:void(0)">
        <i class="fa-solid fa-house-chimney"></i>
        Inicio </a>
    </li>
    <li class="breadcrumb-item active"><a href="javascript:void(0)">Usuarios</a></li>
  </ol>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-3 col-xxl-4">
      <div class="card h-auto">
        <div class="card-header">
          <h4 *ngIf="!usuario" class="heading mb-0">Agregar Usuaio</h4>
          <h4 *ngIf="usuario" class="heading mb-0">Editar Usuario</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="usuarioForm" class="finance-hr">
            <div class="form-group mb-3">
              <label class="text-secondary"> Nombre <span class="text-danger">*</span>
              </label>
              <input formControlName="nombre" type="text" class="form-control" placeholder="Nombre">
            </div>

            <div class="form-group mb-3">
              <label class="text-secondary"> Apellido <span class="text-danger">*</span>
              </label>
              <input formControlName="apellido" type="text" class="form-control" placeholder="Apellido">
            </div>

            <div class="form-group mb-3">
              <label class="text-secondary"> DPI <span class="text-danger">*</span>
              </label>
              <input formControlName="dpi" type="text" class="form-control" placeholder="DPI">
            </div>

            <div class="form-group mb-3">
              <label class="text-secondary"> Usuario <span class="text-danger">*</span>
              </label>
              <input formControlName="usuario" type="text" class="form-control" placeholder="Usuario">
            </div>

            <div *ngIf="!usuario" class="form-group mb-3">
              <label class="text-secondary"> Clave <span class="text-danger">*</span>
              </label>
              <input formControlName="clave" type="text" class="form-control" placeholder="Clave">
            </div>

            <div class="form-group mb-3">
              <label class="text-secondary"> Acceso <span class="text-danger">*</span>
              </label> <br>
              <input formControlName="acceso" type="checkbox" class="form-check-input">
            </div>

            <div class="form-group mb-3">
              <label class="text-secondary font-w500"> Regional <span class="text-danger">*</span>
              </label>
              <select formControlName="id_regional" class="form-control">
                <option *ngFor="let r of regionales" [value]="r.id">{{r.nombre}}</option>
              </select>
            </div>

            <div class="form-group mb-3">
              <label class="text-secondary font-w500"> Rol <span class="text-danger">*</span>
              </label>
              <select formControlName="id_rol" class="form-control">
                <option *ngFor="let r of roles" [value]="r.id">{{r.nombre}}</option>
              </select>
            </div>

            <div>
              <label class="text-secondary">Codigo Departamento</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control">
              </div>
            </div>
            <div>
              <label class="text-secondary">Codigo Municipio</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control">
                <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#municipalidades">
                  <i class="fad fa-search"></i>
                </button>
              </div>
            </div>

            <div *ngIf="!usuario">
              <button (click)="postUsuario()" type="button" class="btn btn-primary mb-3"
                [ngClass]="{'disabled': usuarioForm.invalid}">
                Guardar
              </button>
            </div>
            <div *ngIf="usuario">
              <button (click)="putUsuario()" type="button" class="btn btn-primary mb-3"
                [ngClass]="{'disabled': usuarioForm.invalid}">
                Guardar
              </button>
              <button style="margin-left: 10px;" (click)="cancelarEdicion()" type="button" class="btn btn-primary mb-3">
                Cancelar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xl-9 col-xxl-8">
      <div class="card">
        <div class="card-body p-0">
          <div class="table-responsive active-projects manage-client">
            <div class="tbl-caption">
              <h4 class="heading mb-0">Usuarios</h4>
            </div>
            <table id="empoloyees-tbl1" class="table">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>DPI</th>
                  <th>Usuario</th>
                  <th>Rol</th>
                  <th>Acceso</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let u of usuarios; let uindex = index">
                  <td><a class="text-primary">{{u.nombre}}</a></td>
                  <td><a class="text-primary">{{u.apellido}}</a></td>
                  <td>{{u.dpi}}</td>
                  <td>{{u.usuario}}</td>
                  <td>{{u.rol.nombre}}</td>
                  <td>
                    <input [(ngModel)]="u.acceso" type="checkbox" class="form-check-input" [disabled]="true">
                  </td>
                  <td>
                    <div class="dropdown">
                      <button (click)="setUsuario(u, uindex)" type="button" class="btn btn-primary light"
                        data-bs-toggle="modal" data-bs-target="#editar-clave" style="margin-right: 10px;">
                        <i class="fa-solid fa-lock"></i>
                      </button>
                      <button type="button" class="btn btn-primary light" data-bs-toggle="dropdown">
                        <i class="fa-solid fa-list"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" (click)="setUsuario(u, uindex)">Editar</a>
                        <!-- <a data-bs-toggle="modal" data-bs-target="#estado" class="dropdown-item"
                          (click)="setUsuario(u, uindex)">Clave</a> -->
                        <a class="dropdown-item" (click)="deleteUsuario(u, uindex)">Eliminar</a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editar-clave" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" [formGroup]="usuarioForm">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Editar Clave</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xl-12 mb-3">
            <div class="form-group mb-3">
              <label class="text-secondary"> Clave <span class="text-danger">*</span>
              </label>
              <input formControlName="clave" type="text" class="form-control" placeholder="Clave">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn light" data-bs-dismiss="modal" (click)="cancelarEdicion()">Cancelar</button>
        <button [ngClass]="{'disabled': !usuarioForm.controls['clave'].value}" class="btn btn-primary me-1"
          (click)="putClave()" data-bs-dismiss="modal" type="button">
          <i class="fa-duotone fa-floppy-disk"></i> Guardar
        </button>
      </div>
    </div>
  </div>
</div>