#editar-municipalidad {
  width: 100% !important;
}

#agregar-funcionario {
  width: 100% !important;
}

#editar-funcionario {
  width: 100% !important;
}

#disponibilidad {
  width: 100% !important;
}