<div class="page-titles">
  <ol class="breadcrumb">
    <li>
      <h5 class="bc-title">Tipos Prestamos</h5>
    </li>
    <li class="breadcrumb-item"><a href="javascript:void(0)">
        <i class="fa-solid fa-house-chimney"></i>
        Inicio </a>
    </li>
    <li class="breadcrumb-item active"><a href="javascript:void(0)">Tipos Prestamos</a></li>
  </ol>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-3 col-xxl-4">
      <div class="card h-auto">
        <div class="card-header">
          <h4 *ngIf="!tipo_prestamo" class="heading mb-0">Agregar Tipo Prestamo</h4>
          <h4 *ngIf="tipo_prestamo" class="heading mb-0">Editar Tipo Prestamo</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="tipo_prestamoForm" class="finance-hr">
            <div class="form-group mb-3">
              <label class="text-secondary"> Nombre <span class="text-danger">*</span>
              </label>
              <input formControlName="nombre" type="text" class="form-control" placeholder="Nombre">
            </div>
            <div class="form-group mb-3">
              <label class="text-secondary"> Siglas <span class="text-danger">*</span>
              </label>
              <input formControlName="siglas" type="text" class="form-control" placeholder="Siglas">
            </div>
            <div class="form-group mb-3">
              <label class="text-secondary"> Monto Min <span class="text-danger">*</span>
              </label>
              <input formControlName="monto_min" type="number" class="form-control" placeholder="Monto Min">
            </div>
            <div class="form-group mb-3">
              <label class="text-secondary"> Monto Max <span class="text-danger">*</span>
              </label>
              <input formControlName="monto_max" type="number" class="form-control" placeholder="Monto Max">
            </div>
            <div class="form-group mb-3">
              <label class="text-secondary"> Centro de Costo <span class="text-danger">*</span>
              </label>
              <input formControlName="centro_costo" type="text" class="form-control" placeholder="Centro de Costo">
            </div>
            <div class="form-group mb-3">
              <label class="text-secondary"> Producto <span class="text-danger">*</span>
              </label>
              <input formControlName="producto" type="text" class="form-control" placeholder="Producto">
            </div>
            <div class="form-group mb-3">
              <label class="text-secondary"> Sub Producto <span class="text-danger">*</span>
              </label>
              <input formControlName="subproducto" type="text" class="form-control" placeholder="Sub Producto">
            </div>
            <div *ngIf="!tipo_prestamo">
              <button (click)="postTipoPrestamo()" type="button" class="btn btn-primary mb-3"
                [ngClass]="{'disabled': tipo_prestamoForm.invalid}">
                Guardar
              </button>
            </div>
            <div *ngIf="tipo_prestamo">
              <button (click)="putTipoPrestamo()" type="button" class="btn btn-primary mb-3"
                [ngClass]="{'disabled': tipo_prestamoForm.invalid}">
                Guardar
              </button>
              <button style="margin-left: 10px;" (click)="cancelarEdicion()" type="button" class="btn btn-primary mb-3">
                Cancelar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xl-9 col-xxl-8">
      <div class="card">
        <div class="card-body p-0">
          <div class="table-responsive active-projects manage-client">
            <div class="tbl-caption">
              <h4 class="heading mb-0">Tipos Prestamos</h4>
            </div>
            <table id="empoloyees-tbl1" class="table">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Siglas</th>
                  <th>Monto Min</th>
                  <th>Monto Max</th>
                  <!-- <th>Centro de C.</th>
                  <th>Producto</th>
                  <th>Sub Producto</th> -->
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let t of tipos_prestamos; let dindex = index">
                  <td><a class="text-primary">{{t.nombre}}</a></td>
                  <td>{{t.siglas}}</td>
                  <td>{{t.monto_min | number: '.2-2'}}</td>
                  <td>{{t.monto_max | number: '.2-2'}}</td>
                  <!-- <td>{{t.centro_costo}}</td>
                  <td>{{t.producto}}</td>
                  <td>{{t.subproducto}}</td> -->
                  <td>
                    <div class="dropdown">
                      <button type="button" class="btn btn-primary light" data-bs-toggle="dropdown">
                        <i class="fa-solid fa-list"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" (click)="setTipoPrestamo(t, dindex)">Editar</a>
                        <a class="dropdown-item" (click)="setTipoPrestamo(t, dindex)" data-bs-toggle="offcanvas"
                          href="#garantias">Garantias</a>
                        <a class="dropdown-item" (click)="deleteTipoPrestamo(t, dindex)">Eliminar</a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>