<div class="page-titles">
  <ol class="breadcrumb">
    <li>
      <h5 class="bc-title">Bancos</h5>
    </li>
    <li class="breadcrumb-item"><a href="javascript:void(0)">
        <i class="fa-solid fa-house-chimney"></i>
        Inicio </a>
    </li>
    <li class="breadcrumb-item active"><a href="javascript:void(0)">Bancos</a></li>
  </ol>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-3 col-xxl-4">
      <div class="card h-auto">
        <div class="card-header">
          <h4 *ngIf="!banco" class="heading mb-0">Agregar Banco</h4>
          <h4 *ngIf="banco" class="heading mb-0">Editar Banco</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="bancoForm" class="finance-hr">
            <div class="row">
              <div class="col-8">
                <div class="form-group mb-3">
                  <label class="text-secondary"> Nombre <span class="text-danger">*</span>
                  </label>
                  <input formControlName="nombre" type="text" class="form-control" placeholder="Nombre">
                </div>
              </div>
              <div class="col-4">
                <div class="form-group mb-3">
                  <label class="text-secondary"> Siglas <span class="text-danger">*</span>
                  </label>
                  <input formControlName="siglas" type="text" class="form-control" placeholder="Siglas">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group mb-3">
                  <label class="text-secondary"> Nombre Representante <span class="text-danger">*</span>
                  </label>
                  <input formControlName="r_nombre" type="text" class="form-control" placeholder="Nombre Rep.">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group mb-3">
                  <label class="text-secondary"> Apellido Representante <span class="text-danger">*</span>
                  </label>
                  <input formControlName="r_apellido" type="text" class="form-control" placeholder="Apellido Rep.">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group mb-3">
                  <label class="text-secondary"> Fecha Nacimiento <span class="text-danger">*</span>
                  </label>
                  <input formControlName="fecha_nacimiento" type="date" class="form-control">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group mb-3">
                  <label class="text-secondary"> DPI <span class="text-danger">*</span>
                  </label>
                  <input formControlName="dpi" type="text" class="form-control" placeholder="DPI">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group mb-3">
                  <label class="text-secondary"> Notario Autoriza <span class="text-danger">*</span>
                  </label>
                  <input formControlName="notario_autoriza" type="text" class="form-control"
                    placeholder="Notario Autoriza">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group mb-3">
                  <label class="text-secondary"> Acta Notarial <span class="text-danger">*</span>
                  </label>
                  <input formControlName="acta_notarial" type="text" class="form-control" placeholder="Acta Notarial">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group mb-3">
                  <label class="text-secondary"> Fecha Acta Notarial <span class="text-danger">*</span>
                  </label>
                  <input formControlName="fecha_acta_notarial" type="date" class="form-control">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group mb-3">
                  <label class="text-secondary"> Libro <span class="text-danger">*</span>
                  </label>
                  <input formControlName="libro" type="text" class="form-control" placeholder="Libro">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group mb-3">
                  <label class="text-secondary"> Folio <span class="text-danger">*</span>
                  </label>
                  <input formControlName="folio" type="text" class="form-control" placeholder="Folio">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group mb-3">
                  <label class="text-secondary">Profesion<span class="text-danger">*</span></label>
                  <select formControlName="id_profesion" class="form-control">
                    <option value="null">--- Seleccione un registro ---</option>
                    <option *ngFor="let i of profesiones" [value]="i.id">{{i.nombre}}</option>
                  </select>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group mb-3">
                  <label class="text-secondary">Estado Civil<span class="text-danger">*</span></label>
                  <select formControlName="id_estado_civil" class="form-control">
                    <option value="null">--- Seleccione un registro ---</option>
                    <option *ngFor="let i of estados_civiles" [value]="i.id">{{i.nombre}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div *ngIf="!banco">
              <button (click)="postBanco()" type="button" class="btn btn-primary mb-3"
                [ngClass]="{'disabled': bancoForm.invalid}">
                Guardar
              </button>
            </div>
            <div *ngIf="banco">
              <button (click)="putBanco()" type="button" class="btn btn-primary mb-3"
                [ngClass]="{'disabled': bancoForm.invalid}">
                Guardar
              </button>
              <button style="margin-left: 10px;" (click)="cancelarEdicion()" type="button" class="btn btn-primary mb-3">
                Cancelar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xl-9 col-xxl-8">
      <div class="card">
        <div class="card-body p-0">
          <div class="table-responsive active-projects manage-client">
            <div class="tbl-caption">
              <h4 class="heading mb-0">Bancos</h4>
            </div>
            <table id="empoloyees-tbl1" class="table">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Siglas</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let b of bancos; let bindex = index">
                  <td><a class="text-primary">{{b.nombre}}</a></td>
                  <td>{{b.siglas}}</td>
                  <td>
                    <div class="dropdown">
                      <button type="button" class="btn btn-primary light" data-bs-toggle="dropdown">
                        <i class="fa-solid fa-list"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" (click)="setBanco(b, bindex)">Editar</a>
                        <a class="dropdown-item" (click)="deleteBanco(b, bindex)">Eliminar</a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>