<div class="page-titles">
  <ol class="breadcrumb">
    <li>
      <h5 class="bc-title">Prestamos </h5>
    </li>
    <li class="breadcrumb-item"><a href="javascript:void(0)">
        <i class="fa-solid fa-house-chimney"></i>
        Inicio </a>
    </li>
    <li class="breadcrumb-item active"><a href="javascript:void(0)">Prestamos</a></li>
  </ol>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12 col-xxl-12">
      <div class="row">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-body p-0">
              <div class="table-responsive active-projects style-1">
                <div class="tbl-caption">
                  <h4 class="heading mb-0">Prestamos</h4>
                  <div>
                    <a class="btn btn-primary btn-sm" data-bs-toggle="offcanvas" href="#agregar-prestamo" role="button"
                      (click)="limpiar()">
                      + Agregar Prestamo
                    </a>
                  </div>
                </div>
                <table id="empoloyees-tbl" class="table">
                  <thead>
                    <tr>
                      <th>Funcionario</th>
                      <th>Monto</th>
                      <th>Tipo Prestamos</th>
                      <th>Regional</th>
                      <th>Municipalidad</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let f of prestamos; let mindex = index">
                      <td><span class="text-primary">{{f.funcionario.nombre}}</span></td>
                      <th>{{f.monto | number: '.2'}}</th>
                      <td>{{f.tipo_prestamo.nombre}}</td>
                      <td>{{f.regional.nombre | date: 'dd/MM/YYYY':'UTC'}}</td>
                      <td>{{f.municipalidad.departamento.nombre}} / {{f.municipalidad.municipio.nombre}}</td>
                      <td>
                        <div class="dropdown">
                          <button type="button" class="btn btn-primary light sharp" data-bs-toggle="dropdown">
                            <i class="fa-solid fa-list"></i>
                          </button>
                          <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" (click)="setPrestamo(f, mindex)" data-bs-toggle="offcanvas"
                              href="#editar-prestamo">Editar</a>
                            <a class="dropdown-item" (click)="deletePrestamo(f, mindex)">Eliminar</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-end customeoff" tabindex="-1" id="agregar-prestamo">
  <div class="offcanvas-header">
    <h5 class="modal-title" id="#gridSystemModal">Agregar Prestamo</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  <div class="offcanvas-body">
    <div class="container-fluid">
      <form [formGroup]="prestamoForm">
        <div class="row">
          <div class="col-xl-3 mb-3">
            <label class="form-label">No. Dictamen
              <span class="text-danger">*</span>
            </label>
            <input formControlName="no_dictamen" class="form-control" placeholder="No. Dictamen">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">No. Pagare
              <span class="text-danger">*</span>
            </label>
            <input formControlName="no_pagare" class="form-control" placeholder="No. Pagare">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Fecha
              <span class="text-danger">*</span>
            </label>
            <input formControlName="fecha" type="date" class="form-control">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Fecha Vencimiento
              <span class="text-danger">*</span>
            </label>
            <input formControlName="fecha_vencimiento" type="date" class="form-control">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Monto
              <span class="text-danger">*</span>
            </label>
            <input formControlName="monto" type="number" class="form-control" placeholder="Monto">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Plazo Meses
              <span class="text-danger">*</span>
            </label>
            <input formControlName="plazo_meses" type="number" class="form-control" placeholder="Plazo Meses">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Fecha Acta
              <span class="text-danger">*</span>
            </label>
            <input formControlName="fecha_acta" type="date" class="form-control">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Deposito Intereses
              <span class="text-danger">*</span>
            </label>
            <input formControlName="deposito_intereses" type="number" class="form-control"
              placeholder="Deposito Intereses">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Intereses
              <span class="text-danger">*</span>
            </label>
            <input formControlName="intereses" type="number" class="form-control" placeholder="Intereses">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Intereses Fecha Fin
              <span class="text-danger">*</span>
            </label>
            <input formControlName="intereses_fecha_fin" type="date" class="form-control">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Fecha Acta Toma Posecion
              <span class="text-danger">*</span>
            </label>
            <input formControlName="fecha_acta_toma_posecion" type="date" class="form-control">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Tiempo Gracia
              <span class="text-danger">*</span>
            </label>
            <input formControlName="tiempo_gracia" type="number" class="form-control" placeholder="Tiempo Gracia">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Destino Prestamo
              <span class="text-danger">*</span>
            </label>
            <input formControlName="destino_prestamo" type="text" class="form-control" placeholder="Destino Prestamo">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Cobro Intereses
              <span class="text-danger">*</span>
            </label>
            <input formControlName="cobro_intereses" type="number" class="form-control" placeholder="Cobro Intereses">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Acta
              <span class="text-danger">*</span>
            </label>
            <input formControlName="acta" type="text" class="form-control" placeholder="Acta">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Punto
              <span class="text-danger">*</span>
            </label>
            <input formControlName="punto" type="text" class="form-control" placeholder="Punto">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Fecha Memorial
              <span class="text-danger">*</span>
            </label>
            <input formControlName="fecha_memorial" type="date" class="form-control">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Autorizacion
              <span class="text-danger">*</span>
            </label>
            <input formControlName="autorizacion" type="text" class="form-control" placeholder="Autorizacion">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Certficacion
              <span class="text-danger">*</span>
            </label>
            <input formControlName="certficacion" type="text" class="form-control" placeholder="Certficacion">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Oficio A.J.
              <span class="text-danger">*</span>
            </label>
            <input formControlName="oficioaj" type="date" class="form-control">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Oficio A.J. #
              <span class="text-danger">*</span>
            </label>
            <input formControlName="oficioaj2" type="text" class="form-control" placeholder="Oficio A.J. #">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Tipo Prestamos<span class="text-danger">*</span></label>
            <select formControlName="id_tipo_prestamos" class="form-control">
              <option value="null">--- Seleccione un registro ---</option>
              <option *ngFor="let i of tipos_prestamos" [value]="i.id">{{i.nombre}}</option>
            </select>
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Municipalidad<span class="text-danger">*</span></label>
            <select formControlName="id_municipalidad" class="form-control">
              <option value="null">--- Seleccione un registro ---</option>
              <option *ngFor="let i of municipalidades" [value]="i.id">{{i.departamento.nombre}} /
                {{i.municipio.nombre}}</option>
            </select>
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Regional<span class="text-danger">*</span></label>
            <select formControlName="id_regional" class="form-control">
              <option value="null">--- Seleccione un registro ---</option>
              <option *ngFor="let i of regionales" [value]="i.id">{{i.nombre}}</option>
            </select>
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Funcionario<span class="text-danger">*</span></label>
            <select formControlName="id_funcionario" class="form-control">
              <option value="null">--- Seleccione un registro ---</option>
              <option *ngFor="let i of funcionarios" [value]="i.id">{{i.nombre}} {{i.apellido}}</option>
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>