<div class="page-titles">
  <ol class="breadcrumb">
    <li>
      <h5 class="bc-title">Prestamos </h5>
    </li>
    <li class="breadcrumb-item"><a href="javascript:void(0)">
        <i class="fa-solid fa-house-chimney"></i>
        Inicio </a>
    </li>
    <li class="breadcrumb-item active"><a href="javascript:void(0)">Prestamos</a></li>
  </ol>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12 col-xxl-12">
      <div class="row">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-body p-0">
              <div class="table-responsive active-projects style-1">
                <div class="tbl-caption">
                  <div>
                    <div class="input-group input-group-sm mb-3">
                      <input name="daterange" class="form-control-sm" style="width: 180px;" />
                      <button (click)="getPrestamos()" (click)="getCountPrestamos()" class="btn btn-primary"
                        type="button">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                  <div>
                    <a class="btn btn-primary btn-sm" data-bs-toggle="offcanvas" href="#agregar-prestamo" role="button"
                      (click)="limpiar()">
                      + Agregar Prestamo
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row task">
                <a (click)="estado = 'Pendiente'" (click)="getPrestamos()" routerLink="./" class="col-xl pendiente"
                  [ngClass]="{'pendiente': estado == 'Pendiente'}">
                  <div class="task-summary">
                    <div class="d-flex align-items-center">
                      <h2 class="pendiente count">{{counts.pendientes}}</h2>
                      <h2 *ngIf="!counts.pendientes  == null"><i class="fa-solid fa-spinner fa-spin pendiente"></i></h2>
                      <span>Pendientes</span>
                    </div>
                    <p class="pendiente count">Prestamos pendientes</p>
                  </div>
                </a>
                <a (click)="estado = 'Aprobado'" (click)="getPrestamos()" routerLink="./" class="col-xl"
                  [ngClass]="{'aprobado': estado == 'Aprobado'}">
                  <div class="task-summary">
                    <div class="d-flex align-items-center">
                      <h2 class="aprobado count">{{counts.aprobados}}</h2>
                      <h2 *ngIf="!counts.aprobados  == null"><i class="fa-solid fa-spinner fa-spin aprobado"></i></h2>
                      <span>Aprobados</span>
                    </div>
                    <p class="aprobado count">Prestamos aprobados</p>
                  </div>
                </a>
                <a (click)="estado = 'Acreditado'" (click)="getPrestamos()" routerLink="./" class="col-xl"
                  [ngClass]="{'acreditado': estado == 'Acreditado'}">
                  <div class="task-summary">
                    <div class="d-flex align-items-center">
                      <h2 class="acreditado count">{{counts.acreditados}}</h2>
                      <h2 *ngIf="counts.acreditados == null"><i class="fa-solid fa-spinner fa-spin acreditado"></i></h2>
                      <span>Acreditados</span>
                    </div>
                    <p class="acreditado count">Prestamos acreditados</p>
                  </div>
                </a>
                <a (click)="estado = 'Finalizado'" (click)="getPrestamos()" routerLink="./" class="col-xl"
                  [ngClass]="{'finalizado': estado == 'Finalizado'}">
                  <div class="task-summary">
                    <div class="d-flex align-items-center">
                      <h2 class="finalizado count">{{counts.finalizados}}</h2>
                      <h2 *ngIf="!counts.finalizados  == null"><i class="fa-solid fa-spinner fa-spin finalizado"></i>
                      </h2>
                      <span>Finalizados</span>
                    </div>
                    <p class="finalizado count">Prestamos finalizados</p>
                  </div>
                </a>
                <a (click)="estado = 'Rechazado'" (click)="getPrestamos()" routerLink="./" class="col-xl"
                  [ngClass]="{'rechazado': estado == 'Rechazado'}">
                  <div class="task-summary">
                    <div class="d-flex align-items-center">
                      <h2 class="rechazado count">{{counts.rechazados}}</h2>
                      <h2 *ngIf="!counts.rechazados  == null"><i class="fa-solid fa-spinner fa-spin rechazado"></i></h2>
                      <span>Rechazados</span>
                    </div>
                    <p class="rechazado count">Prestamos rechazados</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="card-body p-0">
              <div class="table-responsive active-projects task-table">
                <table id="empoloyeestbl2" class="table" style="margin-bottom: 150px;">
                  <thead>
                    <tr>
                      <th>Municipalidad</th>
                      <th>Funcionario</th>
                      <th>Garantia</th>
                      <th>Regional</th>
                      <th>Fecha</th>
                      <th class="text-end">Monto</th>
                      <th class="text-end">Estado</th>
                      <th class="text-end">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let p of prestamos; let mindex = index">
                      <td>
                        <div class="products">
                          <div>
                            <h6>{{p.municipalidad.departamento.nombre}}</h6>
                            <span class="count" [class]="colorClass(p)">{{p.municipalidad.municipio.nombre}}</span>
                          </div>
                        </div>
                      </td>
                      <td>
                        <span>{{p.funcionario.nombre}} {{p.funcionario.apellido}}</span>
                      </td>
                      <td>
                        <span>{{p.garantia.nombre}}</span>
                      </td>
                      <td>
                        <span>{{p.regional.nombre}}</span>
                      </td>
                      <td>{{p.fecha | date: 'dd/MM/YYYY':'UTC'}}</td>
                      <td class="text-end">
                        <span class="count" [class]="colorClass(p)">Q{{p.monto | number: '.2'}}</span>
                      </td>
                      <td class="text-end">
                        <span class="badge light border-0 me-1" [class]="colorClass(p)">
                          {{p.estado}}
                        </span>
                      </td>
                      <td class="text-end">
                        <div class="dropdown">
                          <a (click)="reporte('PDF', p.id)" class="btn btn-primary light sharp" style="margin-right: 10px;">
                            <i class="fa-solid fa-print"></i>
                          </a>
                          <button type="button" class="btn btn-primary light sharp" data-bs-toggle="dropdown">
                            <i class="fa-solid fa-list"></i>
                          </button>
                          <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" (click)="setPrestamo(p, mindex)" data-bs-toggle="offcanvas"
                              href="#editar-prestamo">
                              Editar
                            </a>
                            <a class="dropdown-item" (click)="setPrestamo(p, mindex)" data-bs-toggle="modal"
                              data-bs-target="#estado">
                              Cambiar Estado
                            </a>
                            <a *ngIf="p.estado == 'Acreditado'" class="dropdown-item" (click)="setPrestamo(p, mindex)"
                              data-bs-toggle="offcanvas" data-bs-target="#amortizaciones">
                              Amortizaciones
                            </a>
                            <a class="dropdown-item" (click)="deletePrestamo(p, mindex)">
                              Eliminar
                            </a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                  <tbody>
                    <tr>
                      <td colspan="8">
                        <div *ngIf="!prestamos.length" style="text-align: center;">
                          <h3>No se encontraron registros</h3>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-end customeoff" tabindex="-1" id="agregar-prestamo">
  <div class="offcanvas-header">
    <h5 class="modal-title">Agregar Prestamo</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  <div class="offcanvas-body">
    <div class="container-fluid">
      <form [formGroup]="prestamoForm">
        <div class="row">
          <div class="col-xl-3 mb-3">
            <label class="form-label">No. Dictamen
              <span class="text-danger">*</span>
            </label>
            <input formControlName="no_dictamen" class="form-control" placeholder="No. Dictamen">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">No. Pagare
              <span class="text-danger">*</span>
            </label>
            <input formControlName="no_pagare" class="form-control" placeholder="No. Pagare">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Fecha
              <span class="text-danger">*</span>
            </label>
            <input formControlName="fecha" type="date" class="form-control">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Fecha Vencimiento
              <span class="text-danger">*</span>
            </label>
            <input formControlName="fecha_vencimiento" type="date" class="form-control">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Monto
              <span class="text-danger">*</span>
            </label>
            <input formControlName="monto" type="number" class="form-control" placeholder="Monto">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Plazo Meses
              <span class="text-danger">*</span>
            </label>
            <input formControlName="plazo_meses" type="number" class="form-control" placeholder="Plazo Meses">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Fecha Acta
              <span class="text-danger">*</span>
            </label>
            <input formControlName="fecha_acta" type="date" class="form-control">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Deposito Intereses
              <span class="text-danger">*</span>
            </label>
            <input formControlName="deposito_intereses" type="number" class="form-control"
              placeholder="Deposito Intereses">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Intereses %
              <span class="text-danger">*</span>
            </label>
            <input formControlName="intereses" type="number" class="form-control" placeholder="Intereses %">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Intereses Fecha Fin
              <span class="text-danger">*</span>
            </label>
            <input formControlName="intereses_fecha_fin" type="date" class="form-control">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Tiempo Gracia
              <span class="text-danger">*</span>
            </label>
            <input formControlName="tiempo_gracia" type="number" class="form-control" placeholder="Tiempo Gracia">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Destino Prestamo
              <span class="text-danger">*</span>
            </label>
            <input formControlName="destino_prestamo" type="text" class="form-control" placeholder="Destino Prestamo">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Cobro Intereses
              <span class="text-danger">*</span>
            </label>
            <div class="form-check custom-checkbox mb-3">
              <input formControlName="cobro_intereses" type="checkbox" class="form-check-input">
              <label class="form-check-label">{{prestamoForm.controls['cobro_intereses'].value ? 'Si' : 'No'}}</label>
            </div>
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Acta
              <span class="text-danger">*</span>
            </label>
            <input formControlName="acta" type="text" class="form-control" placeholder="Acta">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Punto
              <span class="text-danger">*</span>
            </label>
            <input formControlName="punto" type="text" class="form-control" placeholder="Punto">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Fecha Memorial
              <span class="text-danger">*</span>
            </label>
            <input formControlName="fecha_memorial" type="date" class="form-control">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Autorizacion
              <span class="text-danger">*</span>
            </label>
            <input formControlName="autorizacion" type="text" class="form-control" placeholder="Autorizacion">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Certficacion
              <span class="text-danger">*</span>
            </label>
            <input formControlName="certficacion" type="text" class="form-control" placeholder="Certficacion">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Oficio A.J.
              <span class="text-danger">*</span>
            </label>
            <input formControlName="oficioaj" type="date" class="form-control">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Oficio A.J. #
              <span class="text-danger">*</span>
            </label>
            <input formControlName="oficioaj2" type="text" class="form-control" placeholder="Oficio A.J. #">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Garantia<span class="text-danger">*</span></label>
            <select formControlName="id_garantia" class="form-control">
              <option value="null">--- Seleccione un registro ---</option>
              <option *ngFor="let i of garantias" [value]="i.id">{{i.nombre}}</option>
            </select>
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Municipalidad<span class="text-danger">*</span></label>
            <select formControlName="id_municipalidad" class="form-control">
              <option value="null">--- Seleccione un registro ---</option>
              <option *ngFor="let i of municipalidades" [value]="i.id">{{i.departamento.nombre}} /
                {{i.municipio.nombre}}</option>
            </select>
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Regional<span class="text-danger">*</span></label>
            <select formControlName="id_regional" class="form-control">
              <option value="null">--- Seleccione un registro ---</option>
              <option *ngFor="let i of regionales" [value]="i.id">{{i.nombre}}</option>
            </select>
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Funcionario<span class="text-danger">*</span></label>
            <select formControlName="id_funcionario" class="form-control">
              <option value="null">--- Seleccione un registro ---</option>
              <option *ngFor="let i of funcionarios" [value]="i.id">{{i.nombre}} {{i.apellido}}</option>
            </select>
          </div>
        </div>
        <div>
          <button [ngClass]="{'disabled': prestamoForm.invalid}" class="btn btn-primary me-1" (click)="postPrestamo()"
            data-bs-dismiss="offcanvas" type="button">
            <i class="fa-duotone fa-floppy-disk"></i> Guardar
          </button>
          <button class="btn btn-danger light ms-1" data-bs-dismiss="offcanvas" type="button">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-end customeoff" tabindex="-1" id="editar-prestamo">
  <div class="offcanvas-header">
    <h5 class="modal-title">Editar Prestamo</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  <div class="offcanvas-body">
    <div class="container-fluid">
      <form [formGroup]="prestamoForm">
        <div class="row">
          <div class="col-xl-3 mb-3">
            <label class="form-label">No. Dictamen
              <span class="text-danger">*</span>
            </label>
            <input formControlName="no_dictamen" class="form-control" placeholder="No. Dictamen">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">No. Pagare
              <span class="text-danger">*</span>
            </label>
            <input formControlName="no_pagare" class="form-control" placeholder="No. Pagare">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Fecha
              <span class="text-danger">*</span>
            </label>
            <input formControlName="fecha" type="date" class="form-control">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Fecha Vencimiento
              <span class="text-danger">*</span>
            </label>
            <input formControlName="fecha_vencimiento" type="date" class="form-control">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Monto
              <span class="text-danger">*</span>
            </label>
            <input formControlName="monto" type="number" class="form-control" placeholder="Monto">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Plazo Meses
              <span class="text-danger">*</span>
            </label>
            <input formControlName="plazo_meses" type="number" class="form-control" placeholder="Plazo Meses">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Fecha Acta
              <span class="text-danger">*</span>
            </label>
            <input formControlName="fecha_acta" type="date" class="form-control">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Deposito Intereses
              <span class="text-danger">*</span>
            </label>
            <input formControlName="deposito_intereses" type="number" class="form-control"
              placeholder="Deposito Intereses">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Intereses %
              <span class="text-danger">*</span>
            </label>
            <input formControlName="intereses" type="number" class="form-control" placeholder="Intereses %">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Intereses Fecha Fin
              <span class="text-danger">*</span>
            </label>
            <input formControlName="intereses_fecha_fin" type="date" class="form-control">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Tiempo Gracia
              <span class="text-danger">*</span>
            </label>
            <input formControlName="tiempo_gracia" type="number" class="form-control" placeholder="Tiempo Gracia">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Destino Prestamo
              <span class="text-danger">*</span>
            </label>
            <input formControlName="destino_prestamo" type="text" class="form-control" placeholder="Destino Prestamo">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Cobro Intereses
              <span class="text-danger">*</span>
            </label>
            <div class="form-check custom-checkbox mb-3">
              <input formControlName="cobro_intereses" type="checkbox" class="form-check-input">
              <label class="form-check-label">{{prestamoForm.controls['cobro_intereses'].value ? 'Si' : 'No'}}</label>
            </div>
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Acta
              <span class="text-danger">*</span>
            </label>
            <input formControlName="acta" type="text" class="form-control" placeholder="Acta">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Punto
              <span class="text-danger">*</span>
            </label>
            <input formControlName="punto" type="text" class="form-control" placeholder="Punto">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Fecha Memorial
              <span class="text-danger">*</span>
            </label>
            <input formControlName="fecha_memorial" type="date" class="form-control">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Autorizacion
              <span class="text-danger">*</span>
            </label>
            <input formControlName="autorizacion" type="text" class="form-control" placeholder="Autorizacion">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Certficacion
              <span class="text-danger">*</span>
            </label>
            <input formControlName="certficacion" type="text" class="form-control" placeholder="Certficacion">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Oficio A.J.
              <span class="text-danger">*</span>
            </label>
            <input formControlName="oficioaj" type="date" class="form-control">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Oficio A.J. #
              <span class="text-danger">*</span>
            </label>
            <input formControlName="oficioaj2" type="text" class="form-control" placeholder="Oficio A.J. #">
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Garantia<span class="text-danger">*</span></label>
            <select formControlName="id_garantia" class="form-control">
              <option value="null">--- Seleccione un registro ---</option>
              <option *ngFor="let i of garantias" [value]="i.id">{{i.nombre}}</option>
            </select>
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Municipalidad<span class="text-danger">*</span></label>
            <select formControlName="id_municipalidad" class="form-control">
              <option value="null">--- Seleccione un registro ---</option>
              <option *ngFor="let i of municipalidades" [value]="i.id">{{i.departamento.nombre}} /
                {{i.municipio.nombre}}</option>
            </select>
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Regional<span class="text-danger">*</span></label>
            <select formControlName="id_regional" class="form-control">
              <option value="null">--- Seleccione un registro ---</option>
              <option *ngFor="let i of regionales" [value]="i.id">{{i.nombre}}</option>
            </select>
          </div>
          <div class="col-xl-3 mb-3">
            <label class="form-label">Funcionario<span class="text-danger">*</span></label>
            <select formControlName="id_funcionario" class="form-control">
              <option value="null">--- Seleccione un registro ---</option>
              <option *ngFor="let i of funcionarios" [value]="i.id">{{i.nombre}} {{i.apellido}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="card">
            <div class="card-body p-0">
              <div class="table-responsive active-projects manage-client style-1">
                <div class="tbl-caption">
                  <h4 class="heading mb-0">Amortizaciones ({{amortizaciones.length}})</h4>
                  <div *ngIf="prestamo">
                    <a *ngIf="amortizaciones.length < prestamo.plazo_meses" (click)="limpiar2()"
                      class="btn btn-primary btn-sm" data-bs-toggle="modal" href="#agregar-amortizacion" role="button">
                      + Agregar Amortizacion
                    </a>
                  </div>
                </div>
                <table id="empoloyees-tbl1" class="table">
                  <thead>
                    <tr>
                      <th>Fecha Inicio</th>
                      <th>Fecha Fin</th>
                      <th>Dias</th>
                      <th style="text-align: right;">Capital</th>
                      <th style="text-align: right;">Intereses</th>
                      <th style="text-align: right;">IVA</th>
                      <th style="text-align: right;">Cuota</th>
                      <th style="text-align: right;">Saldo</th>
                      <th style="text-align: right;">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let a of amortizaciones; let aindex = index">
                      <td>{{a.fecha_inicio | date: 'dd/MM/yyyy':'UTC'}}</td>
                      <td>{{a.fecha_fin | date: 'dd/MM/yyyy':'UTC'}}</td>
                      <td>{{a.dias}} dias</td>
                      <td style="text-align: right;">{{a.capital | number: '.2-2'}}</td>
                      <th style="text-align: right;">{{a.intereses | number: '.2-2'}}</th>
                      <th style="text-align: right;">{{a.iva_intereses | number: '.2-2'}}</th>
                      <th style="text-align: right;"><span class="text-primary">{{a.cuota | number: '.2-2'}}</span></th>
                      <th style="text-align: right;">{{a.saldo | number: '.2-2'}}</th>
                      <td>
                        <div class="dropdown">
                          <button type="button" class="btn btn-primary light sharp" data-bs-toggle="dropdown">
                            <i class="fa-solid fa-list"></i>
                          </button>
                          <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" (click)="setAmortizacion(a, aindex)" data-bs-toggle="modal"
                              href="#editar-amortizacion">Editar</a>
                            <a class="dropdown-item" (click)="deleteAmortizacion(a, aindex)">Eliminar</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th></th>
                      <th></th>
                      <th>{{getTotalDias()}} dias</th>
                      <th style="text-align: right;">Q{{getTotalCapital() | number: '.2-2'}}</th>
                      <th style="text-align: right;">Q{{getTotalIntereses() | number: '.2-2'}}</th>
                      <th style="text-align: right;">Q{{getTotalCuota() | number: '.2-2'}}</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div>
          <button [ngClass]="{'disabled': prestamoForm.invalid}" class="btn btn-primary me-1" (click)="putPrestamo()"
            data-bs-dismiss="offcanvas" type="button">
            <i class="fa-duotone fa-floppy-disk"></i> Guardar
          </button>
          <button class="btn btn-danger light ms-1" data-bs-dismiss="offcanvas" type="button">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="estado" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" [formGroup]="prestamoForm">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Estado de Prestamo</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xl-12 mb-3">
            <label class="form-label">Estado<span class="text-danger">*</span></label>
            <select formControlName="estado" class="form-control">
              <option value="null">--- Seleccione un registro ---</option>
              <option value="Pendiente">Pendiente</option>
              <option value="Aprobado">Aprobado</option>
              <option value="Acreditado">Acreditado</option>
              <option value="Finalizado">Finalizado</option>
              <option value="Rechazado">Rechazado</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn light" data-bs-dismiss="modal">Cancelar</button>
        <button [ngClass]="{'disabled': prestamoForm.invalid}" class="btn btn-primary me-1" (click)="putPrestamo()"
          data-bs-dismiss="modal" type="button">
          <i class="fa-duotone fa-floppy-disk"></i> Guardar
        </button>
      </div>
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-end customeoff" tabindex="-1" id="amortizaciones">
  <div class="offcanvas-header">
    <h5 class="modal-title">Amortizaciones</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  <div class="offcanvas-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-3 col-xxl-3">
          <div class="card h-auto">
            <div class="card-header">
              <h4 class="heading mb-0">Prestamo</h4>
            </div>
            <div class="card-body" *ngIf="prestamo">
              <div class="card-body pb-0">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex px-0 justify-content-between">
                    <strong>Monto Prestamo</strong>
                    <span class="mb-0 text-primary">Q{{prestamo.monto | number: '.2'}}</span>
                  </li>
                  <li class="list-group-item d-flex px-0 justify-content-between">
                    <strong>Porcentaje de Interes</strong>
                    <span class="mb-0 text-primary">{{prestamo.intereses}}%</span>
                  </li>
                  <li class="list-group-item d-flex px-0 justify-content-between">
                    <strong>Plazo</strong>
                    <span class="mb-0 text-primary">{{prestamo.plazo_meses}} meses</span>
                  </li>
                  <li class="list-group-item d-flex px-0 justify-content-between">
                    <strong>Saldo Actual</strong>
                    <span class="mb-0 text-primary">
                      Q{{(amortizaciones.length ? amortizaciones[amortizaciones.length - 1].saldo : prestamo.monto) |
                      number: '.2-2'}}
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-9 col-xxl-9">
          <div class="card">
            <div class="card-body p-0">
              <div class="table-responsive active-projects manage-client style-1">
                <div class="tbl-caption">
                  <h4 class="heading mb-0">Amortizaciones ({{amortizaciones.length}})</h4>
                  <div *ngIf="prestamo">
                    <a *ngIf="amortizaciones.length < prestamo.plazo_meses" (click)="limpiar2()"
                      class="btn btn-primary btn-sm" data-bs-toggle="modal" href="#agregar-amortizacion" role="button">
                      + Agregar Amortizacion
                    </a>
                  </div>
                </div>
                <table id="empoloyees-tbl1" class="table">
                  <thead>
                    <tr>
                      <th>Fecha Inicio</th>
                      <th>Fecha Fin</th>
                      <th>Dias</th>
                      <th style="text-align: right;">Capital</th>
                      <th style="text-align: right;">Intereses</th>
                      <th style="text-align: right;">IVA</th>
                      <th style="text-align: right;">Cuota</th>
                      <th style="text-align: right;">Saldo</th>
                      <th style="text-align: right;">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let a of amortizaciones; let aindex = index">
                      <td>{{a.fecha_inicio | date: 'dd/MM/yyyy':'UTC'}}</td>
                      <td>{{a.fecha_fin | date: 'dd/MM/yyyy':'UTC'}}</td>
                      <td>{{a.dias}} dias</td>
                      <td style="text-align: right;">{{a.capital | number: '.2-2'}}</td>
                      <th style="text-align: right;">{{a.intereses | number: '.2-2'}}</th>
                      <th style="text-align: right;">{{a.iva_intereses | number: '.2-2'}}</th>
                      <th style="text-align: right;"><span class="text-primary">{{a.cuota | number: '.2-2'}}</span></th>
                      <th style="text-align: right;">{{a.saldo | number: '.2-2'}}</th>
                      <td>
                        <div class="dropdown">
                          <button type="button" class="btn btn-primary light sharp" data-bs-toggle="dropdown">
                            <i class="fa-solid fa-list"></i>
                          </button>
                          <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" (click)="setAmortizacion(a, aindex)" data-bs-toggle="modal"
                              href="#editar-amortizacion">Editar</a>
                            <a class="dropdown-item" (click)="deleteAmortizacion(a, aindex)">Eliminar</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th></th>
                      <th></th>
                      <th>{{getTotalDias()}} dias</th>
                      <th style="text-align: right;">Q{{getTotalCapital() | number: '.2-2'}}</th>
                      <th style="text-align: right;">Q{{getTotalIntereses() | number: '.2-2'}}</th>
                      <th style="text-align: right;">Q{{getTotalCuota() | number: '.2-2'}}</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="agregar-amortizacion" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" [formGroup]="amortizacionForm">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Agregar Amortizacion</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div (change)="calcAmortizacion()" class="col-xl-6 mb-3">
            <label class="form-label">Fecha Inicio
              <span class="text-danger">*</span>
            </label>
            <input formControlName="fecha_inicio" type="date" class="form-control">
          </div>
          <div (change)="calcAmortizacion()" class="col-xl-6 mb-3">
            <label class="form-label">Fecha Fin
              <span class="text-danger">*</span>
            </label>
            <input formControlName="fecha_fin" type="date" class="form-control">
          </div>
          <div class="col-xl-6 mb-3">
            <label class="form-label">Dias
              <span class="text-danger">*</span>
            </label>
            <input formControlName="dias" type="number" class="form-control">
          </div>
          <div class="col-xl-6 mb-3">
            <label class="form-label">Capital
              <span class="text-danger">*</span>
            </label>
            <input formControlName="capital" type="number" class="form-control">
          </div>
          <div class="col-xl-6 mb-3">
            <label class="form-label">Intereses
              <span class="text-danger">*</span>
            </label>
            <input formControlName="intereses" type="number" class="form-control">
          </div>
          <div class="col-xl-6 mb-3">
            <label class="form-label">Cuota
              <span class="text-danger">*</span>
            </label>
            <input formControlName="cuota" type="number" class="form-control">
          </div>
          <div class="col-xl-6 mb-3">
            <label class="form-label">Saldo
              <span class="text-danger">*</span>
            </label>
            <input formControlName="saldo" type="number" class="form-control">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn light" data-bs-dismiss="modal">Cancelar</button>
        <button [ngClass]="{'disabled': amortizacionForm.invalid}" class="btn btn-primary me-1"
          (click)="postAmortizacion()" data-bs-dismiss="modal" type="button">
          <i class="fa-duotone fa-floppy-disk"></i> Guardar
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editar-amortizacion" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" [formGroup]="amortizacionForm">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Editar Amortizacion</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div (change)="calcAmortizacion(true)" class="col-xl-6 mb-3">
            <label class="form-label">Fecha Inicio
              <span class="text-danger">*</span>
            </label>
            <input formControlName="fecha_inicio" type="date" class="form-control">
          </div>
          <div (change)="calcAmortizacion(true)" class="col-xl-6 mb-3">
            <label class="form-label">Fecha Fin
              <span class="text-danger">*</span>
            </label>
            <input formControlName="fecha_fin" type="date" class="form-control">
          </div>
          <div class="col-xl-6 mb-3">
            <label class="form-label">Dias
              <span class="text-danger">*</span>
            </label>
            <input formControlName="dias" type="number" class="form-control">
          </div>
          <div class="col-xl-6 mb-3">
            <label class="form-label">Capital
              <span class="text-danger">*</span>
            </label>
            <input formControlName="capital" type="number" class="form-control">
          </div>
          <div class="col-xl-6 mb-3">
            <label class="form-label">Intereses
              <span class="text-danger">*</span>
            </label>
            <input formControlName="intereses" type="number" class="form-control">
          </div>
          <div class="col-xl-6 mb-3">
            <label class="form-label">Cuota
              <span class="text-danger">*</span>
            </label>
            <input formControlName="cuota" type="number" class="form-control">
          </div>
          <div class="col-xl-6 mb-3">
            <label class="form-label">Saldo
              <span class="text-danger">*</span>
            </label>
            <input formControlName="saldo" type="number" class="form-control">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn light" data-bs-dismiss="modal">Cancelar</button>
        <button [ngClass]="{'disabled': amortizacionForm.invalid}" class="btn btn-primary me-1"
          (click)="putAmortizacion()" data-bs-dismiss="modal" type="button">
          <i class="fa-duotone fa-floppy-disk"></i> Guardar
        </button>
      </div>
    </div>
  </div>
</div>