<div class="page-titles">
  <ol class="breadcrumb">
    <li>
      <h5 class="bc-title">Dashboard</h5>
    </li>
    <li class="breadcrumb-item"><a href="javascript:void(0)">
        <i class="fa-solid fa-house-chimney"></i>
        Inicio </a>
    </li>
    <li class="breadcrumb-item active"><a href="javascript:void(0)">Dashboard</a></li>
  </ol>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12 wid-100">
      <div class="row">
        <div class="col-xl col-sm-6">
          <div class="card box-hover">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div class="icon-box icon-box-lg pendiente rounded-circle">
                  <i class="fas fa-user pendiente" style="font-size: 20px; margin-top: 20px;"></i>
                </div>
                <div class="total-projects ms-3">
                  <h3 class="count pendiente-text">{{counts.pendientes}}</h3> 
                  <span>Pendientes</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl col-sm-6">
          <div class="card box-hover">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div class="icon-box icon-box-lg aprobado rounded-circle">
                  <i class="fas fa-user aprobado" style="font-size: 20px; margin-top: 20px;"></i>
                </div>
                <div class="total-projects ms-3">
                  <h3 class="count aprobado-text">{{counts.aprobados}}</h3> 
                  <span>Aprobados</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl col-sm-6">
          <div class="card box-hover">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div class="icon-box icon-box-lg acreditado rounded-circle">
                  <i class="fas fa-user acreditado" style="font-size: 20px; margin-top: 20px;"></i>
                </div>
                <div class="total-projects ms-3">
                  <h3 class="count acreditado-text">{{counts.acreditados}}</h3> 
                  <span>Acreditados</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl col-sm-6">
          <div class="card box-hover">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div class="icon-box icon-box-lg cancelado rounded-circle">
                  <i class="fas fa-user cancelado" style="font-size: 20px; margin-top: 20px;"></i>
                </div>
                <div class="total-projects ms-3">
                  <h3 class="count cancelado-text">{{counts.cancelados}}</h3> 
                  <span>Cancelados</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl col-sm-6">
          <div class="card box-hover">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div class="icon-box icon-box-lg anulado rounded-circle">
                  <i class="fas fa-user anulado" style="font-size: 20px; margin-top: 20px;"></i>
                </div>
                <div class="total-projects ms-3">
                  <h3 class="count anulado-text">{{counts.anulados}}</h3> 
                  <span>Anulados</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl col-sm-6">
          <div id="chart">
            <apx-chart
              [series]="chart.series"
              [chart]="chart.chart"
              [dataLabels]="chart.dataLabels"
              [plotOptions]="chart.plotOptions"
              [yaxis]="chart.yaxis"
              [xaxis]="chart.xaxis"
              [stroke]="chart.stroke"
              [grid]="chart.grid"
              [fill]="chart.fill"
              [annotations]="chart.annotations"
            ></apx-chart>
          </div>
          
        </div>
      </div>
    </div>
  </div>

</div>