<div class="page-wraper">

  <!-- Content -->
  <div class="browse-job login-style3">
    <!-- Coming Soon -->
    <div class="bg-img-fix overflow-hidden"
      style="background:#fff url(https://infom.gob.gt/templates/yootheme/cache/96/Adoquinamiento_de_la_carretera_Caserio_Tzamabaj-2-964bb5ec.webp); background-size: cover; height: 100vh;">
      <div class="row gx-0">
        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12 vh-100 bg-white ">
          <div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" style="max-height: 653px;"
            tabindex="0">
            <div id="mCSB_1_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr">
              <div class="login-form style-2">


                <div class="card-body" style="text-align: center;">
                  <div class="logo-header">
                    <a class="logo">
                      <img src="assets/images/logo/logo.png" alt="" style="width: 150px;">
                    </a>
                    <br>
                  </div>

                  <nav>
                    <div class="nav nav-tabs border-bottom-0" id="nav-tab" role="tablist">

                      <div class="tab-content w-100" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-personal" role="tabpanel"
                          aria-labelledby="nav-personal-tab">
                          <form [formGroup]="loginForm" class=" dz-form pb-3">
                            <h3 class="form-title m-t0">Bienvenido a -INFOM-</h3>
                            <div class="dz-separator-outer m-b5">
                              <div class="dz-separator bg-primary style-liner"></div>
                            </div>
                            <p>Ingresa con tus credenciales de acceso</p>
                            <div class="form-group mb-3">
                              <input formControlName="usuario" type="text" class="form-control" value="Usuario">
                            </div>
                            <div class="form-group mb-3">
                              <input formControlName="clave" type="password" class="form-control" value="Clave">
                            </div>
                            <div class="form-group text-left mb-5 forget-main">
                              <button (click)="login()" type="submit" class="btn btn-primary">Iniciar Sesion</button>
                              <br><br>
                              <button class="nav-link m-auto btn tp-btn-light btn-primary forget-tab"
                                id="nav-forget-tab" data-bs-toggle="tab" data-bs-target="#nav-forget" type="button"
                                role="tab" aria-controls="nav-forget" aria-selected="false">Olvidé mi Contraseña
                              </button>
                            </div>
                          </form>
                        </div>
                        <div class="tab-pane fade" id="nav-forget" role="tabpanel" aria-labelledby="nav-forget-tab">
                          <form class="dz-form">
                            <h3 class="form-title m-t0">Restablecer Contraseña</h3>
                            <div class="dz-separator-outer m-b5">
                              <div class="dz-separator bg-primary style-liner"></div>
                            </div>
                            <p>Ingresa tu correo electronico. </p>
                            <div class="form-group mb-4">
                              <input class="form-control" placeholder="Correo electronico" type="email">
                            </div>
                            <div class="form-group clearfix text-left">
                              <button class=" active btn btn-primary" id="nav-personal-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-personal" type="button" role="tab" aria-controls="nav-personal"
                                aria-selected="true">Regresar</button>
                              <button class="btn btn-primary float-end">Enviar codigo</button>
                            </div>
                          </form>
                        </div>
                      </div>

                    </div>
                  </nav>
                </div>
                <div class="card-footer">
                  <div class=" bottom-footer clearfix m-t10 m-b20 row text-center">
                    <div class="col-lg-12 text-center">
                      <p>Copyright © 2023.
                        <a href="https://infom.gob.gt" target="_blank">Instituto de Fomento Municipal -INFOM-</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="mCSB_1_scrollbar_vertical"
              class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_vertical" style="display: block;">
              <div class="mCSB_draggerContainer">
                <div id="mCSB_1_dragger_vertical" class="mCSB_dragger"
                  style="position: absolute; min-height: 0px; display: block; height: 652px; max-height: 643px; top: 0px;">
                  <div class="mCSB_dragger_bar" style="line-height: 0px;"></div>
                  <div class="mCSB_draggerRail"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>