<div class="page-titles">
  <ol class="breadcrumb">
    <li>
      <h5 class="bc-title">Representantes </h5>
    </li>
    <li class="breadcrumb-item"><a href="javascript:void(0)">
        <i class="fa-solid fa-house-chimney"></i>
        Inicio </a>
    </li>
    <li class="breadcrumb-item active"><a href="javascript:void(0)">Representantes</a></li>
  </ol>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12 col-xxl-12">
      <div class="row">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-body p-0">
              <div class="table-responsive active-projects style-1">
                <div class="tbl-caption">
                  <h4 class="heading mb-0">Representantes</h4>
                  <div>
                    <a class="btn btn-primary btn-sm" data-bs-toggle="offcanvas" href="#agregar-representante"
                      role="button" (click)="limpiar()">
                      + Agregar Representante
                    </a>
                  </div>
                </div>
                <table id="empoloyees-tbl" class="table">
                  <thead>
                    <tr>
                      <th>Codigo</th>
                      <th>Nombre</th>
                      <th>Apellido</th>
                      <th>DPI</th>
                      <th>Fecha Nacimiento</th>
                      <th>Regional</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let f of representantes; let mindex = index">
                      <td><span class="text-primary">{{f.codigo}}</span></td>
                      <td>{{f.nombre}}</td>
                      <td>{{f.apellido}}</td>
                      <td>{{f.dpi}}</td>
                      <td>{{f.fecha_nacimiento | date: 'dd/MM/YYYY':'UTC'}}</td>
                      <td>{{f.regional.nombre}}</td>
                      <td>
                        <div class="dropdown">
                          <button type="button" class="btn btn-primary light" data-bs-toggle="dropdown">
                            <i class="fa-solid fa-list"></i>
                          </button>
                          <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" (click)="setRepresentante(f, mindex)" data-bs-toggle="offcanvas"
                              href="#editar-representante">Editar</a>
                            <a class="dropdown-item" (click)="deleteRepresentante(f, mindex)">Eliminar</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-end customeoff" tabindex="-1" id="agregar-representante">
  <div class="offcanvas-header">
    <h5 class="modal-title" id="#gridSystemModal">Agregar Representante</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  <div class="offcanvas-body">
    <div class="container-fluid">
      <form [formGroup]="representanteForm">
        <div class="row">
          <div class="col-xl-6 mb-3">
            <div class="row">
              <div class="col-xl-6 mb-3">
                <label class="form-label">Codigo
                  <span class="text-danger">*</span>
                </label>
                <input formControlName="codigo" class="form-control" placeholder="Codigo">
              </div>
              <div class="col-xl-6 mb-3">
                <label class="form-label">Nombre
                  <span class="text-danger">*</span>
                </label>
                <input formControlName="nombre" class="form-control" placeholder="Nombre">
              </div>
              <div class="col-xl-6 mb-3">
                <label class="form-label">Apellido
                  <span class="text-danger">*</span>
                </label>
                <input formControlName="apellido" class="form-control" placeholder="Apellido">
              </div>
              <div class="col-xl-6 mb-3">
                <label class="form-label">Fecha Nacimiento
                  <span class="text-danger">*</span>
                </label>
                <input formControlName="fecha_nacimiento" type="date" class="form-control">
              </div>
              <div class="col-xl-6 mb-3">
                <label class="form-label">DPI
                  <span class="text-danger">*</span>
                </label>
                <input formControlName="dpi" class="form-control" placeholder="DPI" name="dpi" >
              </div>
              <div class="col-xl-6 mb-3">
                <label class="form-label">Resolucion
                  <span class="text-danger">*</span>
                </label>
                <input formControlName="resolucion" class="form-control" placeholder="Resolucion">
              </div>
              <div class="col-xl-6 mb-3">
                <label class="form-label">Fecha Resolucion
                  <span class="text-danger">*</span>
                </label>
                <input formControlName="fecha_resolucion" type="date" class="form-control">
              </div>
              <div class="col-xl-6 mb-3">
                <label class="form-label">Acuerdo
                  <span class="text-danger">*</span>
                </label>
                <input formControlName="acuerdo" class="form-control" placeholder="Acuerdo">
              </div>
              <div class="col-xl-6 mb-3">
                <label class="form-label">Fecha Acuerdo
                  <span class="text-danger">*</span>
                </label>
                <input formControlName="fecha_acuerdo" type="date" class="form-control">
              </div>
              <div class="col-xl-6 mb-3">
                <label class="form-label">JD Resuelve
                  <span class="text-danger">*</span>
                </label>
                <input formControlName="jd_resuelve" class="form-control" placeholder="JD Resuelve">
              </div>
              <div class="col-xl-6 mb-3">
                <label class="form-label">Fecha JD Resuelve
                  <span class="text-danger">*</span>
                </label>
                <input formControlName="fecha_jd_resuelve" type="date" class="form-control">
              </div>
              <div class="col-xl-6 mb-3">
                <label class="form-label">Direccion
                  <span class="text-danger">*</span>
                </label>
                <input formControlName="direccion" class="form-control" placeholder="Direccion">
              </div>
              <div class="col-xl-6 mb-3">
                <label class="form-label">Autorizacion
                  <span class="text-danger">*</span>
                </label>
                <input formControlName="autorizacion" class="form-control" placeholder="Autorizacion">
              </div>
              <div class="col-xl-6 mb-3">
                <label class="form-label">Acta Toma Posecion
                  <span class="text-danger">*</span>
                </label>
                <input formControlName="acta_toma_posecion" class="form-control" placeholder="Acta Toma Posecion">
              </div>
              <div class="col-xl-6 mb-3">
                <label class="form-label">Fecha Acta Toma Posecion
                  <span class="text-danger">*</span>
                </label>
                <input formControlName="fecha_acta_toma_posecion" type="date" class="form-control">
              </div>
              <div class="col-xl-6 mb-3">
                <label class="form-label">Estado<span class="text-danger">*</span></label>
                <select formControlName="estado" class="form-control">
                  <option value="null">--- Seleccione un registro ---</option>
                  <option value="Activo">Activo</option>
                  <option value="Inactivo">Inactivo</option>
                </select>
              </div>
              <div class="col-xl-6 mb-3">
                <label class="form-label">Regional<span class="text-danger">*</span></label>
                <select formControlName="id_regional" class="form-control">
                  <option value="null">--- Seleccione un registro ---</option>
                  <option *ngFor="let i of regionales" [value]="i.id">{{i.nombre}}</option>
                </select>
              </div>
              <div class="col-xl-6 mb-3">
                <label class="form-label">Puesto<span class="text-danger">*</span></label>
                <select formControlName="id_puesto" class="form-control">
                  <option value="null">--- Seleccione un registro ---</option>
                  <option *ngFor="let i of puestos" [value]="i.id">{{i.nombre}}</option>
                </select>
              </div>
              <div class="col-xl-6 mb-3">
                <label class="form-label">Profesion<span class="text-danger">*</span></label>
                <select formControlName="id_profesion" class="form-control">
                  <option value="null">--- Seleccione un registro ---</option>
                  <option *ngFor="let i of profesiones" [value]="i.id">{{i.nombre}}</option>
                </select>
              </div>
              <div class="col-xl-6 mb-3">
                <label class="form-label">Estado Civil<span class="text-danger">*</span></label>
                <select formControlName="id_estado_civil" class="form-control">
                  <option value="null">--- Seleccione un registro ---</option>
                  <option *ngFor="let i of estados_civiles" [value]="i.id">{{i.nombre}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-xl-6 mb-3">
            <!-- <div class="row">
              <div class="col-xl-4 mb-3">
                <label class="form-label">Imagen Carnet
                  <span class="text-danger">*</span>
                </label>
                <div class="avatar-upload d-flex align-items-center">
                  <div class=" position-relative ">
                    <div class="avatar-preview">
                      <img
                        [src]="representanteForm.controls['imagen_carnet'].value ? representanteForm.controls['imagen_carnet'].value : 'assets/images/no-img-avatar.png'">
                    </div>
                    <div class="change-btn d-flex align-items-center flex-wrap">
                      <input (change)="setImage($event, 'imagen_carnet')" type='file' class="form-control"
                        accept=".png, .jpg, .jpeg">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 mb-3">
                <label class="form-label">Imagen Acta Toma Posecion
                  <span class="text-danger">*</span>
                </label>
                <div class="avatar-upload d-flex align-items-center">
                  <div class=" position-relative ">
                    <div class="avatar-preview">
                      <img
                        [src]="representanteForm.controls['imagen_acta_toma_posecion'].value ? representanteForm.controls['imagen_acta_toma_posecion'].value : 'assets/images/no-img-avatar.png'">
                    </div>
                    <div class="change-btn d-flex align-items-center flex-wrap">
                      <input (change)="setImage($event, 'imagen_acta_toma_posecion')" type='file' class="form-control"
                        accept=".png, .jpg, .jpeg">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 mb-3">
                <label class="form-label">Imagen Fotografia
                  <span class="text-danger">*</span>
                </label>
                <div class="avatar-upload d-flex align-items-center">
                  <div class=" position-relative ">
                    <div class="avatar-preview">
                      <img
                        [src]="representanteForm.controls['imagen_fotografia'].value ? representanteForm.controls['imagen_fotografia'].value : 'assets/images/no-img-avatar.png'">
                    </div>
                    <div class="change-btn d-flex align-items-center flex-wrap">
                      <input (change)="setImage($event, 'imagen_fotografia')" type='file' class="form-control"
                        accept=".png, .jpg, .jpeg">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 mb-3">
                <label class="form-label">Imagen Firma
                  <span class="text-danger">*</span>
                </label>
                <div class="avatar-upload d-flex align-items-center">
                  <div class=" position-relative ">
                    <div class="avatar-preview">
                      <img
                        [src]="representanteForm.controls['imagen_firma'].value ? representanteForm.controls['imagen_firma'].value : 'assets/images/no-img-avatar.png'">
                    </div>
                    <div class="change-btn d-flex align-items-center flex-wrap">
                      <input (change)="setImage($event, 'imagen_firma')" type='file' class="form-control"
                        accept=".png, .jpg, .jpeg">
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
          <div>
            <button [ngClass]="{'disabled': representanteForm.invalid}" class="btn btn-primary me-1"
              (click)="postRepresentante()" data-bs-dismiss="offcanvas" type="button">
              <i class="fa-duotone fa-floppy-disk"></i> Guardar
            </button>
            <button class="btn btn-danger light ms-1" data-bs-dismiss="offcanvas" type="button">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-end customeoff" tabindex="-1" id="editar-representante">
  <div class="offcanvas-header">
    <h5 class="modal-title" id="#gridSystemModal">Editar Representante</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  <div class="offcanvas-body">
    <div class="container-fluid">
      <form [formGroup]="representanteForm">
        <div class="row">
          <div class="col-xl-6 mb-3">
            <div class="row">
              <div class="col-xl-6 mb-3">
                <label class="form-label">Codigo
                  <span class="text-danger">*</span>
                </label>
                <input formControlName="codigo" class="form-control" placeholder="Codigo">
              </div>
              <div class="col-xl-6 mb-3">
                <label class="form-label">Nombre
                  <span class="text-danger">*</span>
                </label>
                <input formControlName="nombre" class="form-control" placeholder="Nombre">
              </div>
              <div class="col-xl-6 mb-3">
                <label class="form-label">Apellido
                  <span class="text-danger">*</span>
                </label>
                <input formControlName="apellido" class="form-control" placeholder="Apellido">
              </div>
              <div class="col-xl-6 mb-3">
                <label class="form-label">Fecha Nacimiento
                  <span class="text-danger">*</span>
                </label>
                <input formControlName="fecha_nacimiento" type="date" class="form-control">
              </div>
              <div class="col-xl-6 mb-3">
                <label class="form-label">DPI
                  <span class="text-danger">*</span>
                </label>
                <input formControlName="dpi" class="form-control" placeholder="DPI" name="dpi" >
              </div>
              <div class="col-xl-6 mb-3">
                <label class="form-label">Resolucion
                  <span class="text-danger">*</span>
                </label>
                <input formControlName="resolucion" class="form-control" placeholder="Resolucion">
              </div>
              <div class="col-xl-6 mb-3">
                <label class="form-label">Fecha Resolucion
                  <span class="text-danger">*</span>
                </label>
                <input formControlName="fecha_resolucion" type="date" class="form-control">
              </div>
              <div class="col-xl-6 mb-3">
                <label class="form-label">Acuerdo
                  <span class="text-danger">*</span>
                </label>
                <input formControlName="acuerdo" class="form-control" placeholder="Acuerdo">
              </div>
              <div class="col-xl-6 mb-3">
                <label class="form-label">Fecha Acuerdo
                  <span class="text-danger">*</span>
                </label>
                <input formControlName="fecha_acuerdo" type="date" class="form-control">
              </div>
              <div class="col-xl-6 mb-3">
                <label class="form-label">JD Resuelve
                  <span class="text-danger">*</span>
                </label>
                <input formControlName="jd_resuelve" class="form-control" placeholder="JD Resuelve">
              </div>
              <div class="col-xl-6 mb-3">
                <label class="form-label">Fecha JD Resuelve
                  <span class="text-danger">*</span>
                </label>
                <input formControlName="fecha_jd_resuelve" type="date" class="form-control">
              </div>
              <div class="col-xl-6 mb-3">
                <label class="form-label">Direccion
                  <span class="text-danger">*</span>
                </label>
                <input formControlName="direccion" class="form-control" placeholder="Direccion">
              </div>
              <div class="col-xl-6 mb-3">
                <label class="form-label">Autorizacion
                  <span class="text-danger">*</span>
                </label>
                <input formControlName="autorizacion" class="form-control" placeholder="Autorizacion">
              </div>
              <div class="col-xl-6 mb-3">
                <label class="form-label">Acta Toma Posecion
                  <span class="text-danger">*</span>
                </label>
                <input formControlName="acta_toma_posecion" class="form-control" placeholder="Acta Toma Posecion">
              </div>
              <div class="col-xl-6 mb-3">
                <label class="form-label">Fecha Acta Toma Posecion
                  <span class="text-danger">*</span>
                </label>
                <input formControlName="fecha_acta_toma_posecion" type="date" class="form-control">
              </div>
              <div class="col-xl-6 mb-3">
                <label class="form-label">Estado<span class="text-danger">*</span></label>
                <select formControlName="estado" class="form-control">
                  <option value="null">--- Seleccione un registro ---</option>
                  <option value="Activo">Activo</option>
                  <option value="Inactivo">Inactivo</option>
                </select>
              </div>
              <div class="col-xl-6 mb-3">
                <label class="form-label">Regional<span class="text-danger">*</span></label>
                <select formControlName="id_regional" class="form-control">
                  <option value="null">--- Seleccione un registro ---</option>
                  <option *ngFor="let i of regionales" [value]="i.id">{{i.nombre}}</option>
                </select>
              </div>
              <div class="col-xl-6 mb-3">
                <label class="form-label">Puesto<span class="text-danger">*</span></label>
                <select formControlName="id_puesto" class="form-control">
                  <option value="null">--- Seleccione un registro ---</option>
                  <option *ngFor="let i of puestos" [value]="i.id">{{i.nombre}}</option>
                </select>
              </div>
              <div class="col-xl-6 mb-3">
                <label class="form-label">Profesion<span class="text-danger">*</span></label>
                <select formControlName="id_profesion" class="form-control">
                  <option value="null">--- Seleccione un registro ---</option>
                  <option *ngFor="let i of profesiones" [value]="i.id">{{i.nombre}}</option>
                </select>
              </div>
              <div class="col-xl-6 mb-3">
                <label class="form-label">Estado Civil<span class="text-danger">*</span></label>
                <select formControlName="id_estado_civil" class="form-control">
                  <option value="null">--- Seleccione un registro ---</option>
                  <option *ngFor="let i of estados_civiles" [value]="i.id">{{i.nombre}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-xl-6 mb-3">
            <!-- <div class="row">
              <div class="col-xl-4 mb-3">
                <label class="form-label">Imagen Carnet
                  <span class="text-danger">*</span>
                </label>
                <div class="avatar-upload d-flex align-items-center">
                  <div class=" position-relative ">
                    <div class="avatar-preview">
                      <img
                        [src]="representanteForm.controls['imagen_carnet'].value ? representanteForm.controls['imagen_carnet'].value : 'assets/images/no-img-avatar.png'">
                    </div>
                    <div class="change-btn d-flex align-items-center flex-wrap">
                      <input (change)="setImage($event, 'imagen_carnet')" type='file' class="form-control"
                        accept=".png, .jpg, .jpeg">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 mb-3">
                <label class="form-label">Imagen Acta Toma Posecion
                  <span class="text-danger">*</span>
                </label>
                <div class="avatar-upload d-flex align-items-center">
                  <div class=" position-relative ">
                    <div class="avatar-preview">
                      <img
                        [src]="representanteForm.controls['imagen_acta_toma_posecion'].value ? representanteForm.controls['imagen_acta_toma_posecion'].value : 'assets/images/no-img-avatar.png'">
                    </div>
                    <div class="change-btn d-flex align-items-center flex-wrap">
                      <input (change)="setImage($event, 'imagen_acta_toma_posecion')" type='file' class="form-control"
                        accept=".png, .jpg, .jpeg">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 mb-3">
                <label class="form-label">Imagen Fotografia
                  <span class="text-danger">*</span>
                </label>
                <div class="avatar-upload d-flex align-items-center">
                  <div class=" position-relative ">
                    <div class="avatar-preview">
                      <img
                        [src]="representanteForm.controls['imagen_fotografia'].value ? representanteForm.controls['imagen_fotografia'].value : 'assets/images/no-img-avatar.png'">
                    </div>
                    <div class="change-btn d-flex align-items-center flex-wrap">
                      <input (change)="setImage($event, 'imagen_fotografia')" type='file' class="form-control"
                        accept=".png, .jpg, .jpeg">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 mb-3">
                <label class="form-label">Imagen Firma
                  <span class="text-danger">*</span>
                </label>
                <div class="avatar-upload d-flex align-items-center">
                  <div class=" position-relative ">
                    <div class="avatar-preview">
                      <img
                        [src]="representanteForm.controls['imagen_firma'].value ? representanteForm.controls['imagen_firma'].value : 'assets/images/no-img-avatar.png'">
                    </div>
                    <div class="change-btn d-flex align-items-center flex-wrap">
                      <input (change)="setImage($event, 'imagen_firma')" type='file' class="form-control"
                        accept=".png, .jpg, .jpeg">
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
          <div>
            <button [ngClass]="{'disabled': representanteForm.invalid}" class="btn btn-primary" (click)="putRepresentante()"
              data-bs-dismiss="offcanvas" type="button">
              <i class="fa-duotone fa-floppy-disk"></i> Guardar
            </button>
            <button class="btn btn-danger light ms-1" data-bs-dismiss="offcanvas" type="button">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>