<div class="page-titles">
  <ol class="breadcrumb">
    <li>
      <h5 class="bc-title">Cobros</h5>
    </li>
    <li class="breadcrumb-item"><a href="javascript:void(0)">
        <i class="fa-solid fa-house-chimney"></i>
        Inicio </a>
    </li>
    <li class="breadcrumb-item active"><a href="javascript:void(0)">Cobros</a></li>
  </ol>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-3 col-xxl-4">
      <div class="card h-auto">
        <div class="card-header">
          <h4 *ngIf="!cobro" class="heading mb-0">Agregar Cobro</h4>
          <h4 *ngIf="cobro" class="heading mb-0">Editar Cobro</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="cobroForm" class="finance-hr">
            <div class="form-group mb-3">
              <label class="text-secondary font-w500"> Codigo<span class="text-danger">*</span>
              </label>
              <input formControlName="codigo" type="text" class="form-control" placeholder="Codigo">
            </div>
            <div class="form-group mb-3">
              <label class="text-secondary"> Mes <span class="text-danger">*</span>
              </label>
              <input formControlName="mes" type="month" class="form-control">
            </div>
            <div class="form-group mb-3">
              <label class="text-secondary"> Fecha Pago <span class="text-danger">*</span>
              </label>
              <input formControlName="fecha" type="date" class="form-control">
            </div>
            <div *ngIf="!cobro">
              <button (click)="postCobro()" type="button" class="btn btn-primary mb-3"
                [ngClass]="{'disabled': cobroForm.invalid}">
                Guardar
              </button>
            </div>
            <div *ngIf="cobro">
              <button (click)="putCobro()" type="button" class="btn btn-primary mb-3"
                [ngClass]="{'disabled': cobroForm.invalid}">
                Guardar
              </button>
              <button style="margin-left: 10px;" (click)="limpiar()" type="button" class="btn btn-primary mb-3">
                Cancelar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xl-9 col-xxl-8">
      <div class="card">
        <div class="card-body p-0">
          <div class="table-responsive active-projects manage-client">
            <div class="tbl-caption">
              <h4 class="heading mb-0">Cobros</h4>
            </div>
            <table id="empoloyees-tbl1" class="table" style="margin-bottom: 250px;">
              <thead>
                <tr>
                  <th>Codigo</th>
                  <th>Mes</th>
                  <th>Fecha Pago</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let d of cobros; let dindex = index">
                  <td><a class="text-primary">{{d.codigo}}</a></td>
                  <td>{{d.mes}}</td>
                  <td>{{d.fecha | date: 'dd/MM/YYYY':'UTC'}}</td>
                  <td>
                    <div class="dropdown">
                      <button (click)="regenerarCobro(d, dindex)" type="button" class="btn btn-primary light" style="margin-right: 10px">
                        <i class="fa-solid fa-rotate-right"></i>
                      </button>
                      <button type="button" class="btn btn-primary light" data-bs-toggle="dropdown">
                        <i class="fa-solid fa-list"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" (click)="setCobro(d, dindex)">Editar</a>
                        <a class="dropdown-item" (click)="setCobro(d, dindex)" (click)="getAmortizaciones()"
                          data-bs-toggle="offcanvas" data-bs-target="#amortizaciones">Amortizaciones</a>
                        <a class="dropdown-item" (click)="deleteCobro(d, dindex)">Eliminar</a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-end customeoff" tabindex="-1" id="amortizaciones">
  <div class="offcanvas-header" *ngIf="cobro">
    <h5 class="modal-title">Amortizaciones {{cobro.mes}}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  <div class="offcanvas-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-body p-0">
              <div class="table-responsive active-projects manage-client style-1">
                <div class="tbl-caption">
                  <h4 class="heading mb-0">Amortizaciones ({{amortizaciones.length}})</h4>
                  <div>
                    <a class="btn btn-primary btn-sm" role="button" (click)="generarDocumentos()"
                      style="margin-left: 10px;">
                      <i class="fas fa-check"></i> Generar Documentos
                    </a>
                  </div>
                </div>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Prestamo</th>
                      <th>Fecha Inicio</th>
                      <th>Fecha Fin</th>
                      <th>Dias</th>
                      <th style="text-align: right;">Saldo Inicial</th>
                      <th style="text-align: right;">Capital</th>
                      <th style="text-align: right;">Intereses</th>
                      <th style="text-align: right;">IVA</th>
                      <th style="text-align: right;">Cuota</th>
                      <th style="text-align: right;">Saldo Final</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let a of amortizaciones">
                      <tr>
                        <th>{{a.prestamo.municipalidad.municipio.nombre}},
                          {{a.prestamo.municipalidad.departamento.nombre}}</th>
                        <th>{{a.prestamo.no_prestamo}}</th>
                      </tr>
                      <tr *ngFor="let d of a.amortizaciones_detalles">
                        <th></th>
                        <td style="background-color: #eaeaea;">{{d.fecha_inicio | date: 'dd/MM/yyyy':'UTC'}}</td>
                        <td style="background-color: #eaeaea;">{{d.fecha_fin | date: 'dd/MM/yyyy':'UTC'}}</td>
                        <td style="background-color: #eaeaea;">{{d.dias}} dias</td>
                        <th style="background-color: #eaeaea; text-align: right;">{{d.saldo_inicial | number: '.2-2'}}
                        </th>
                        <td style="background-color: #eaeaea; text-align: right;">{{d.capital | number: '.2-2'}}</td>
                        <th style="background-color: #eaeaea; text-align: right;">{{d.interes | number: '.2-2'}}</th>
                        <th style="background-color: #eaeaea; text-align: right;">{{d.iva | number: '.2-2'}}</th>
                        <th style="background-color: #eaeaea; text-align: right;">
                          <span class="text-primary" [ngClass]="{'real': d.id}">{{d.cuota | number: '.2-2'}}</span>
                        </th>
                        <th style="background-color: #eaeaea; text-align: right;"
                          [ngClass]="{'sobregiro': d.saldo_final < 0}">
                          {{d.saldo_final | number: '.2-2'}}
                        </th>
                      </tr>
                      <tr style="border-top: 2px solid; border-bottom: 4px double;">
                        <th></th>
                        <td>{{a.fecha_inicio | date: 'dd/MM/yyyy':'UTC'}}</td>
                        <td>{{a.fecha_fin | date: 'dd/MM/yyyy':'UTC'}}</td>
                        <td>{{a.dias}} dias</td>
                        <th style="text-align: right;">{{a.saldo_inicial | number: '.2-2'}}</th>
                        <td style="text-align: right;">{{a.capital | number: '.2-2'}}</td>
                        <th style="text-align: right;">{{a.interes | number: '.2-2'}}</th>
                        <th style="text-align: right;">{{a.iva | number: '.2-2'}}</th>
                        <th style="text-align: right;">
                          <span class="text-primary" [ngClass]="{'real': a.id}">{{a.cuota | number: '.2-2'}}</span>
                        </th>
                        <th style="text-align: right;" [ngClass]="{'sobregiro': a.saldo_final < 0}">
                          {{a.saldo_final | number: '.2-2'}}
                        </th>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>