<div class="page-titles">
  <ol class="breadcrumb">
    <li>
      <h5 class="bc-title">Municipios</h5>
    </li>
    <li class="breadcrumb-item"><a href="javascript:void(0)">
      <i class="fa-solid fa-house-chimney"></i>
        Inicio </a>
    </li>
    <li class="breadcrumb-item active"><a href="javascript:void(0)">Municipios</a></li>
  </ol>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-3 col-xxl-4">
      <div class="card h-auto">
        <div class="card-header">
          <h4 *ngIf="!municipio" class="heading mb-0">Agregar Municipio</h4>
          <h4 *ngIf="municipio" class="heading mb-0">Editar Municipio</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="municipioForm" class="finance-hr">
            <!-- ToDo agregar dropdow select para los departamentos y seleccionar uno para vincularlo con el municipio  -->
            <div class="form-group mb-3">
              <label class="text-secondary font-w500"> Codigo<span class="text-danger">*</span>
              </label>
              <input formControlName="codigo" type="text" class="form-control" placeholder="Codigo">
            </div>
            <div class="form-group mb-3">
              <label class="text-secondary"> Nombre <span class="text-danger">*</span>
              </label>
              <input formControlName="nombre" type="text" class="form-control" placeholder="Nombre">
            </div>
            <div class="form-group mb-3">
              <label class="text-secondary font-w500">
                Departamento<span class="text-danger">*</span>
              </label>
              <select formControlName="id_departamento" class="form-control">
                <option selected="true">--- Seleccione un departamento ---</option>
                <option *ngFor="let d of departamentos" [value]="d.id">{{d.nombre}}</option>
              </select>
            </div>
            <div *ngIf="!municipio">
              <button (click)="postMunicipio()" type="button" class="btn btn-primary mb-3" [ngClass]="{'disabled': municipioForm.invalid}">
                Guardar
              </button>
            </div>
            <div *ngIf="municipio">
              <button (click)="putMunicipio()" type="button" class="btn btn-primary mb-3" [ngClass]="{'disabled': municipioForm.invalid}">
                Guardar
              </button>
              <button style="margin-left: 10px;" (click)="cancelarEdicion()" type="button" class="btn btn-primary mb-3">
                Cancelar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xl-9 col-xxl-8">
      <div class="card">
        <div class="card-body p-0">
          <div class="table-responsive active-projects manage-client">
            <div class="tbl-caption">
              <h4 class="heading mb-0">Municipios</h4>
            </div>
            <table id="empoloyees-tbl1" class="table">
              <thead>
                <tr>
                  <th>Codigo</th>
                  <th>Nombre</th>
                  <th>Departamento</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let m of municipios; let mindex = index">
                  <td><a class="text-primary">{{m.codigo}}</a></td>
                  <td>{{m.nombre}}</td>
                  <td>{{m.departamento.nombre}}</td>
                  <td>
                    <div class="dropdown">
                      <button type="button" class="btn btn-primary light" data-bs-toggle="dropdown">
                        <i class="fa-solid fa-list"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" (click)="setMunicipio(m, mindex)">Editar</a>
                        <a class="dropdown-item" (click)="deleteMunicipio(m, mindex)">Eliminar</a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
