<div class="page-titles">
  <ol class="breadcrumb">
    <li>
      <h5 class="bc-title">Garantías</h5>
    </li>
    <li class="breadcrumb-item"><a href="javascript:void(0)">
      <i class="fa-solid fa-house-chimney"></i>
        Inicio </a>
    </li>
    <li class="breadcrumb-item active"><a href="javascript:void(0)">Garantías</a></li>
  </ol>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-3 col-xxl-4">
      <div class="card h-auto">
        <div class="card-header">
          <h4 *ngIf="!garantia" class="heading mb-0">Nuevo Grantía</h4>
          <h4 *ngIf="garantia" class="heading mb-0">Editar Grantía</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="garantiaForm" class="finance-hr">
            <div class="form-group mb-3">
              <label class="text-secondary font-w500"> Codigo<span class="text-danger">*</span>
              </label>
              <input formControlName="codigo" type="text" class="form-control" placeholder="Codigo">
            </div>
            <div class="form-group mb-3">
              <label class="text-secondary"> Descripcion <span class="text-danger">*</span>
              </label>
              <input formControlName="descripcion" type="text" class="form-control" placeholder="Descripcion">
            </div>
            <div *ngIf="!garantia">
              <button (click)="postGarantia()" type="button" class="btn btn-primary mb-3" [ngClass]="{'disabled': garantiaForm.invalid}">
                Guardar
              </button>
            </div>
            <div *ngIf="garantia">
              <button (click)="putGarantia()" type="button" class="btn btn-primary mb-3" [ngClass]="{'disabled': garantiaForm.invalid}">
                Guardar
              </button>
              <button style="margin-left: 10px;" (click)="cancelarEdicion()" type="button" class="btn btn-primary mb-3">
                Cancelar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xl-9 col-xxl-8">
      <div class="card">
        <div class="card-body p-0">
          <div class="table-responsive active-projects manage-client">
            <div class="tbl-caption">
              <h4 class="heading mb-0">Garantías</h4>
            </div>
            <table id="empoloyees-tbl1" class="table">
              <thead>
                <tr>
                  <th>Codigo</th>
                  <th>Descripcion</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let d of garantias; let dindex = index">
                  <td><a class="text-primary">{{d.codigo}}</a></td>
                  <td>{{d.descripcion}}</td>
                  <td>
                    <div class="dropdown">
                      <button type="button" class="btn btn-primary light sharp" data-bs-toggle="dropdown">
                        <svg width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"/><circle fill="#000000" cx="5" cy="12" r="2"/><circle fill="#000000" cx="12" cy="12" r="2"/><circle fill="#000000" cx="19" cy="12" r="2"/></g></svg>
                      </button>
                      <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" (click)="setGarantia(d, dindex)">Editar</a>
                        <a class="dropdown-item" (click)="deleteGarantia(d, dindex)">Eliminar</a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
