<!doctype html>
<html>

<head>
  <meta charset="utf-8">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <style type="text/css">
      :root {
        --color-background: #303030;
        --color-pageSheet: #cfcfcf;
        --color-paper: white;
        --bs-body-line-height: 1.5;
      }
  
      @page {
        margin: 25mm 5mm 10mm 5mm;
  
        @top-left {
          content: element(header);
          padding-top: 15mm;
          margin-bottom: 70px;
        }
  
        @bottom-right {
          content: 'Pagina ' counter(page) ' de ' counter(pages)
        }
  
      }
  
      #header {
        position: running(header);
      }
  
      .pagedjs_page {
        background-color: white;
        box-shadow: 0 0 0 1px #cfcfcf;
        margin: auto;
        margin-bottom: 10px;
      }
  
      body {
        background-color: var(--color-background);
        font-size: 10px !important;
      }
  
      tr th {
        background-color: #848484 !important;
        color: white !important;
      }
    </style>

</head>

<body>

  <nav id="header" class="navbar">
    <div class="container-fluid">
      <img src="http://45.79.218.175/assets/images/logo/logo.png" width="100">
      <div style="text-align: center; text-transform: uppercase;">
        <span style="font-size: 12px;">
          <b>INSTITUTO DE FOMENTO MUNICIPAL -INFOM-</b>
        </span>
        <br>
        <span style="font-size: 11px;">
          CATALOGO DE BANCOS
        </span>
      </div>
      <div style="text-align: right;">
        Generado: <b>{{generado}}</b> <br>
        Usuario: <b>{{usuario}}</b>
      </div>
    </div>
  </nav>
  <hr>

  {{contenido}}

  <script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script>
  <script>
    class RepeatingTableHeadersHandler extends Paged.Handler {
      constructor(chunker, polisher, caller) {
        super(chunker, polisher, caller);
        this.splitTablesRefs = [];
      }

      afterPageLayout(pageElement, page, breakToken, chunker) {
        this.chunker = chunker;
        this.splitTablesRefs = [];

        if (breakToken) {
          const node = breakToken.node;
          const tables = this.findAllAncestors(node, "table");
          if (node.tagName === "TABLE") {
            tables.push(node);
          }

          if (tables.length > 0) {
            this.splitTablesRefs = tables.map((t) => t.dataset.ref);

            //checks if split inside thead and if so, set breakToken to next sibling element
            let thead =
              node.tagName === "THEAD"
                ? node
                : this.findFirstAncestor(node, "thead");
            if (thead) {
              let lastTheadNode = thead.hasChildNodes()
                ? thead.lastChild
                : thead;
              breakToken.node = this.nodeAfter(lastTheadNode, chunker.source);
            }

            this.hideEmptyTables(pageElement, node);
          }
        }
      }

      hideEmptyTables(pageElement, breakTokenNode) {
        this.splitTablesRefs.forEach((ref) => {
          let table = pageElement.querySelector("[data-ref='" + ref + "']");
          if (table) {
            let sourceBody = table.querySelector("tbody > tr");
            if (
              !sourceBody ||
              this.refEquals(sourceBody.firstElementChild, breakTokenNode)
            ) {
              table.style.visibility = "hidden";
              table.style.position = "absolute";
              let lineSpacer = table.nextSibling;
              if (lineSpacer) {
                lineSpacer.style.visibility = "hidden";
                lineSpacer.style.position = "absolute";
              }
            }
          }
        });
      }

      refEquals(a, b) {
        return (
          a && a.dataset && b && b.dataset && a.dataset.ref === b.dataset.ref
        );
      }

      findFirstAncestor(element, selector) {
        while (element.parentNode && element.parentNode.nodeType === 1) {
          if (element.parentNode.matches(selector)) {
            return element.parentNode;
          }
          element = element.parentNode;
        }
        return null;
      }

      findAllAncestors(element, selector) {
        const ancestors = [];
        while (element.parentNode && element.parentNode.nodeType === 1) {
          if (element.parentNode.matches(selector)) {
            ancestors.unshift(element.parentNode);
          }
          element = element.parentNode;
        }
        return ancestors;
      }

      // The addition of repeating Table Headers is done here because this hook is triggered before overflow handling
      layout(rendered, layout) {
        this.splitTablesRefs.forEach((ref) => {
          const renderedTable = rendered.querySelector(
            "[data-ref='" + ref + "']"
          );
          if (renderedTable) {
            // this event can be triggered multiple times
            // added a flag repeated-headers to control when table headers already repeated in current page.
            if (!renderedTable.getAttribute("repeated-headers")) {
              const sourceTable = this.chunker.source.querySelector(
                "[data-ref='" + ref + "']"
              );
              this.repeatColgroup(sourceTable, renderedTable);
              this.repeatTHead(sourceTable, renderedTable);
              renderedTable.setAttribute("repeated-headers", true);
            }
          }
        });
      }

      repeatColgroup(sourceTable, renderedTable) {
        let colgroup = sourceTable.querySelectorAll("colgroup");
        let firstChild = renderedTable.firstChild;
        colgroup.forEach((colgroup) => {
          let clonedColgroup = colgroup.cloneNode(true);
          renderedTable.insertBefore(clonedColgroup, firstChild);
        });
      }

      repeatTHead(sourceTable, renderedTable) {
        let thead = sourceTable.querySelector("thead");
        if (thead) {
          let clonedThead = thead.cloneNode(true);
          renderedTable.insertBefore(clonedThead, renderedTable.firstChild);
        }
      }

      // the functions below are from pagedjs utils/dom.js
      nodeAfter(node, limiter) {
        if (limiter && node === limiter) {
          return;
        }
        let significantNode = this.nextSignificantNode(node);
        if (significantNode) {
          return significantNode;
        }
        if (node.parentNode) {
          while ((node = node.parentNode)) {
            if (limiter && node === limiter) {
              return;
            }
            significantNode = this.nextSignificantNode(node);
            if (significantNode) {
              return significantNode;
            }
          }
        }
      }

      nextSignificantNode(sib) {
        while ((sib = sib.nextSibling)) {
          if (!this.isIgnorable(sib)) return sib;
        }
        return null;
      }

      isIgnorable(node) {
        return (
          node.nodeType === 8 || // A comment node
          (node.nodeType === 3 && this.isAllWhitespace(node))
        ); // a text node, all whitespace
      }

      isAllWhitespace(node) {
        return !/[^\t\n\r ]/.test(node.textContent);
      }
    }

    Paged.registerHandlers(RepeatingTableHeadersHandler);
  </script>
<script>
  setTimeout(() => {
    var r = document.querySelector(':root');
    r.style.setProperty('--bs-body-line-height', '1.4');
  }, "1000");
</script>
</body>

</html>