<div class="row">
  <div class="col-12">
    <iframe class="clickup-embed" src="https://sharing.clickup.com/9014030653/l/h/4-90140065566-1/70bfb0b74c081bb" onwheel="" width="100%" height="700px" style="background: transparent; border: 1px solid #ccc;"></iframe>
  </div>

  <div class="col-12">
    <iframe class="clickup-embed" src="https://sharing.clickup.com/9014030653/g/h/8cmec9x-1434/7cb44e923ff4fb9" onwheel="" width="100%" height="700px" style="background: transparent; border: 1px solid #ccc;"></iframe>
  </div>
</div>