<div class="page-titles">
  <ol class="breadcrumb">
    <li>
      <h5 class="bc-title">Roles</h5>
    </li>
    <li class="breadcrumb-item"><a href="javascript:void(0)">
      <i class="fa-solid fa-house-chimney"></i>
        Inicio </a>
    </li>
    <li class="breadcrumb-item active"><a href="javascript:void(0)">Roles</a></li>
  </ol>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-3 col-xxl-4">
      <div class="card h-auto">
        <div class="card-header">
          <h4 *ngIf="!rol" class="heading mb-0">Agregar Rol</h4>
          <h4 *ngIf="rol" class="heading mb-0">Editar Rol</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="rolForm" class="finance-hr">
            <div class="form-group mb-3">
              <label class="text-secondary font-w500"> Rol<span class="text-danger">*</span>
              </label>
              <input formControlName="nombre" type="text" class="form-control" placeholder="Rol">
            </div>
            <div class="form-group mb-3">
              <label class="text-secondary font-w500"> Color<span class="text-danger">*</span>
              </label>
              <input formControlName="color" type="color" class="form-control">
            </div>

            <div *ngIf="!rol">
              <button (click)="postRol()" type="button" class="btn btn-primary mb-3" [ngClass]="{'disabled': rolForm.invalid}">
                Guardar
              </button>
            </div>
            <div *ngIf="rol">
              <button (click)="putRol()" type="button" class="btn btn-primary mb-3" [ngClass]="{'disabled': rolForm.invalid}">
                Guardar
              </button>
              <button style="margin-left: 10px;" (click)="cancelarEdicion()" type="button" class="btn btn-primary mb-3">
                Cancelar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xl-9 col-xxl-8">
      <div class="card">
        <div class="card-body p-0">
          <div class="table-responsive active-projects manage-client">
            <div class="tbl-caption">
              <h4 class="heading mb-0">Roles</h4>
            </div>
            <table id="empoloyees-tbl1" class="table">
              <thead>
                <tr>
                  <th>Roles</th>
                  <th>Color</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let r of roles; let rindex = index">
                  <td><a class="text-primary">{{r.nombre}}</a></td>
                  <td>
                    <i class="fas fa-palette fa-2x" [ngStyle]="{'color': r.color}"></i>
                  </td>
                  <td>
                    <div class="dropdown">
                      <button type="button" class="btn btn-primary light sharp" data-bs-toggle="dropdown">
                        <i class="fa-solid fa-list"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" (click)="setRol(r, rindex)">Editar</a>
                        <a class="dropdown-item" (click)="deleteEstadoCivil(r, rindex)">Eliminar</a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
