/* You can add global styles to this file, and also import other style files */

.menu-icon i {
  color: var(--bs-primary) !important;
}

.active-projects.manage-client tbody tr td {
  padding: 5px 20px !important;
}

.has-arrow {
  cursor: pointer;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.avatar-preview {
  width: 8.5rem; 
  height: 8.5rem;
}

.avatar-preview img {
  width: 100%; 
  height: 100%;
}

thead tr th {
  font-weight: 900 !important;
  text-transform: uppercase !important;
}

thead tr th.total {
  font-weight: 900 !important;
  text-transform: uppercase !important;
  text-align: center !important;;
}

tbody tr td.total {
  text-transform: uppercase !important;
  text-align: right !important;;
}

.active-projects thead tr th.total {
  background-color: #F0F4F9;
  font-weight: 900;
  text-align: center !important;
}

[data-theme-version="dark"] .active-projects thead tr th.total {
  background-color: #1E1E1E;
  font-weight: 900;
  text-align: center !important;
}

.active-projects tbody tr td.total {
  background-color: #F0F4F9;
  font-weight: 900;
  text-align: right !important;
}

[data-theme-version="dark"] .active-projects tbody tr td.total {
  background-color: #1E1E1E;
  font-weight: 900;
  text-align: right !important;
}