<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12">
      <div class="card h-auto overflow-hidden">
        <div class="card-header border-0 pb-0" *ngIf="view_reporte">
          <h4 class="heading mb-0">Modulo de Reporteria</h4>
        </div>
        <div class="card-body" *ngIf="view_reporte">
          <div class="row">
            <div class="col-xl-12">
              <label class="form-label">Reporte</label>
              <div class="mb-3">
                <select [(ngModel)]="id_reporte" [ngModelOptions]="{standalone: true}" (change)="setReporte()"
                  class="form-control" aria-label="Default select example">
                  <option *ngFor="let r of reportes" [value]="r.id">{{r.nombre}}</option>
                </select>
              </div>
              <hr>
              <div *ngIf="filtro('mes')">
                <label class="form-label">Mes</label>
                <div class="input-group mb-3">
                  <input [(ngModel)]="filtros.mes" [ngModelOptions]="{standalone: true}" type="month"
                    class="form-control">
                </div>
              </div>
              <div *ngIf="filtro('codigo_departamento')">
                <label class="form-label">Codigo Departamento</label>
                <div class="input-group mb-3">
                  <input [(ngModel)]="filtros.codigo_departamento" [ngModelOptions]="{standalone: true}" type="text"
                    class="form-control">
                </div>
              </div>
              <div *ngIf="filtro('codigo_municipio')">
                <label class="form-label">Codigo Municipio</label>
                <div class="input-group mb-3">
                  <input [(ngModel)]="filtros.codigo_municipio" [ngModelOptions]="{standalone: true}" type="text"
                    class="form-control">
                  <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                    data-bs-target="#municipalidades">
                    <i class="fad fa-search"></i>
                  </button>
                </div>
              </div>
              <div *ngIf="filtro('plazo_meses')">
                <label class="form-label">Plazo Meses</label>
                <div class="input-group mb-3">
                  <input [(ngModel)]="filtros.plazo_meses" [ngModelOptions]="{standalone: true}" type="number"
                    [max]="meses" class="form-control">
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="text-center">
            <a *ngIf="view_reporte" (click)="limpiar()" href="javascript:void(0);" class="btn btn-outline-primary me-2">
              Limpiar</a>
            <a (click)="imprimir()" href="javascript:void(0);" class="btn btn-primary">
              <i class="fas fa-print"></i> Imprimir
            </a>
            <a *ngIf="!view_reporte" (click)="imprimir(false)" href="javascript:void(0);" class="btn btn-primary"
              style="margin-left: 10px;">
              <i class="fas fa-check"></i> Validar
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-12">
      <div class="card h-auto">
        <div class="card-body p-0">

          <div hidden>
            <div id="rep_disponibilidad" style="color: black; font-size: 8px;">

              <ng-container *ngFor="let g of garantias">

                <table style="width: 100%">
                  <thead>
                    <tr>
                      <td>
                        <h6 style="text-align: center; text-decoration: underline; font-weight: 700;">
                          {{g.nombre}} ({{g.porcentaje}}%)
                        </h6>
                      </td>
                    </tr>
                  </thead>
                </table>

                <table style="width: 100%">
                  <thead>
                    <tr>
                      <td style="width: 100px;"></td>
                      <td></td>
                      <td *ngFor="let d of disponibilidad" style="text-align: right; border-bottom: solid">
                        {{d.mes | date: 'MMM YYYY':'UTC'}}
                      </td>
                      <td style="text-align: right; font-weight: 700; border-bottom: solid">
                        Disponible <br> {{filtros.plazo_meses}} meses
                      </td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td style="text-align: right; text-transform: uppercase"></td>
                      <td style="text-align: center;">A</td>
                      <td *ngFor="let d of disponibilidad" style="text-align: right;">
                        {{g.aporte | number: '.2-2'}}
                      </td>
                      <td style="text-align: right;">
                        {{getTotalAportes(g.aporte) | number: '.2-2'}}
                      </td>
                    </tr>
                    <ng-container *ngFor="let p of g.prestamos">
                      <tr>
                        <td style="text-align: right;">
                          <b>{{p.no_prestamo}}</b>
                        </td>
                        <td style="text-align: center;"> C </td>
                        <td *ngFor="let d of disponibilidad" style="text-align: right;">
                          - {{getMontoDisp(d.mes, p.proyecciones, 'capital') | number: '.2-2'}}
                        </td>
                        <td style="text-align: right;">
                          - {{getTotalMontoDisp(p.proyecciones, 'capital') | number: '.2-2'}}
                        </td>
                      </tr>
                      <tr>
                        <td style="text-align: right;">
                          <b>{{p.no_prestamo}}</b>
                        </td>
                        <td style="text-align: center;"> I </td>
                        <td *ngFor="let d of disponibilidad" style="text-align: right;">
                          - {{getMontoDisp(d.mes, p.proyecciones, 'interes') | number: '.2-2'}}
                        </td>
                        <td style="text-align: right;">
                          - {{getTotalMontoDisp(p.proyecciones, 'interes') | number: '.2-2'}}
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                  <tbody>
                    <tr>
                      <th style="text-align: right; width: 100px;">
                        Disponible
                      </th>
                      <th></th>
                      <th *ngFor="let d of disponibilidad"
                        style="text-align: right; border-top: solid; border-bottom: solid;">
                        {{getMontoDispTotal(d.mes, g.prestamos, g.aporte) | number: '.2-2'}}
                      </th>
                      <th style="text-align: right; border-top: solid; border-bottom: solid;">
                        {{getTotalMontoDispTotal(g.prestamos, g.aporte) | number: '.2-2'}}
                      </th>
                    </tr>
                    <tr>
                      <th>
                        <span style="color: white;">.</span>
                      </th>
                    </tr>
                  </tbody>
                </table>
              </ng-container>

              <table style="width: 100%">
                <thead>
                  <tr>
                    <td>
                      <h6 style="text-align: center; text-decoration: underline; font-weight: 700;">
                        GARANTIAS UNIFICADAS
                      </h6>
                    </td>
                  </tr>
                </thead>
              </table>

              <table style="width: 100%">
                <thead>
                  <tr>
                    <td style="width: 100px;"></td>
                    <td></td>
                    <td *ngFor="let d of disponibilidad" style="text-align: right; border-bottom: solid">
                      {{d.mes | date: 'MMM YYYY':'UTC'}}
                    </td>
                    <td style="text-align: right; font-weight: 700; border-bottom: solid">
                      Disponible <br> {{filtros.plazo_meses}} meses
                    </td>
                    <td></td>
                  </tr>
                </thead>
                <ng-container *ngFor="let g of garantias">
                  <tbody>
                    <tr>
                      <td style="text-align: right; text-transform: uppercase;"></td>
                      <td style="text-align: center;"> A </td>
                      <td *ngFor="let d of disponibilidad" style="text-align: right;">
                        {{g.aporte | number: '.2-2'}}
                      </td>
                      <td style="text-align: right;">
                        {{getTotalAportes(g.aporte) | number: '.2-2'}}
                      </td>
                    </tr>
                    <ng-container *ngFor="let p of g.prestamos">
                      <tr>
                        <td style="text-align: right;">
                          <b>{{p.no_prestamo}}</b>
                        </td>
                        <td style="text-align: center;"> C </td>
                        <td *ngFor="let d of disponibilidad" style="text-align: right;">
                          - {{getMontoDisp(d.mes, p.proyecciones, 'capital') | number: '.2-2'}}
                        </td>
                        <td style="text-align: right;">
                          - {{getTotalMontoDisp(p.proyecciones, 'capital') | number: '.2-2'}}
                        </td>
                      </tr>
                      <tr>
                        <td style="text-align: right;">
                          <b>{{p.no_prestamo}}</b>
                        </td>
                        <td style="text-align: center;"> I </td>
                        <td *ngFor="let d of disponibilidad" style="text-align: right;">
                          - {{getMontoDisp(d.mes, p.proyecciones, 'interes') | number: '.2-2'}}
                        </td>
                        <td style="text-align: right;">
                          - {{getTotalMontoDisp(p.proyecciones, 'interes') | number: '.2-2'}}
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </ng-container>
                <tbody>
                  <tr>
                    <th style="text-align: right; width: 100px;">
                      Disponible
                    </th>
                    <th></th>
                    <th *ngFor="let d of disponibilidad"
                      style="text-align: right; border-top: solid; border-bottom: solid;">
                      {{getMontoDispTotalDisponible(d.mes) | number: '.2-2'}}
                    </th>
                    <th style="text-align: right; border-top: solid; border-bottom: solid;">
                      {{getTotalMontoDispTotalDisponible() | number: '.2-2'}}
                    </th>
                  </tr>
                  <tr>
                    <th>
                      <span style="color: white;">.</span>
                    </th>
                  <tr>
                </tbody>
              </table>

            </div>

            <div id="rep_amortizaciones" style="color: black; font-size: 8px;">
              <table style="width: 100%">
                <thead>
                  <tr style="border: solid 1px">
                    <td style="width: 30%;">MUNICIPALIDAD</td>
                    <td style="text-align: center;"><b>PRESTAMO</b> <br> Fecha Inicial</td>
                    <td style="text-align: center;">Fecha Final</td>
                    <td style="text-align: center;">Dias Cálculo</td>
                    <td style="text-align: center;">Saldo Capital</td>
                    <td style="text-align: center;">Amortización</td>
                    <td style="text-align: center;">Intereses Calculados</td>
                    <td style="width: 5%; text-align: right;">(%)Tasa Interés</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="font-weight: 500; font-size: 18px;">
                      <u>FONDOS PROPIOS</u> <br>
                    </td>
                    <td></td>
                  </tr>
                  <ng-container *ngFor="let c of programas">
                    <tr style="font-weight: 500; font-size: 12px;">
                      <td>{{c.codigo}} - FONDO PATRIMONIAL/{{c.nombre}}</td>
                    </tr>
                  </ng-container>
                  <tr>
                    <td>Santo Domingo, Suchitepequez</td>
                    <td><b>10.06.00015.009</b></td>
                  </tr>
                  <tr style="background-color:#E4E4E4">
                    <td style="background-color:white"></td>
                    <td>01/09/2023</td>
                    <td>14/09/2023</td>
                    <td style="text-align: right;">14</td>
                    <td style="text-align: right;">715,220.00</td>
                    <td style="text-align: right;">178,803.00</td>
                    <td style="text-align: right;">2,194.65</td>
                    <td style="text-align: right;">8.00</td>
                  </tr>
                  <tr style="background-color:#E4E4E4">
                    <td style="background-color:white"></td>
                    <td>15/09/2023</td>
                    <td>30/09/2023</td>
                    <td style="text-align: right;">16</td>
                    <td style="text-align: right;">536,417.00</td>
                    <td style="text-align: right;">0.00</td>
                    <td style="text-align: right;">2,194.65</td>
                    <td style="text-align: right;">8.00</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td colspan="2" style="text-align: center;">TOTAL * PRÉSTAMO</td>
                    <td style="text-align: right;">30</td>
                    <td style="text-align: right;"></td>
                    <td style="text-align: right;">178,803.00</td>
                    <td style="text-align: right;">1,881.13</td>
                    <td style="text-align: right;"></td>
                  </tr>
                  <tr style="border: solid 1px">
                    <td></td>
                    <td colspan="2">TOTAL * MUNICIPALIDAD </td>
                    <td style="text-align: right;">30</td>
                    <td style="text-align: right;"></td>
                    <td style="text-align: right;">178,803.00</td>
                    <td style="text-align: right;">4,075.78</td>
                    <td style="text-align: right;"></td>
                  </tr>
                  <tr style="background-color:#E4E4E4">
                    <td colspan="5"><span style="margin-left: 20px;">TOTAL * PROGRAMA</span></td>
                    <td style="text-align: right;">178,803.00</td>
                    <td style="text-align: right;">4,075.78</td>
                    <td style="text-align: right;"></td>
                  </tr>
                  <tr>
                    <td style="color: white;">.</td>
                  </tr>
                  <tr style="border: solid 1px">
                    <td colspan="5" style="font-weight: 500; font-size: 18px;">
                      TOTAL FONDOS PROPIOS
                    </td>
                    <td style="text-align: right;">178,803.00</td>
                    <td style="text-align: right;">4075.78</td>
                    <td style="text-align: right;"></td>
                  </tr>
                  <tr>
                    <td style="color: white;">.</td>
                  </tr>
                  <tr>
                    <td colspan="5"><span style="margin-left: 20px;">TOTAL GENERAL:</span></td>
                    <td style="text-align: right; border-top: solid 2px; border-bottom: solid 2px">178,803.00</td>
                    <td style="text-align: right; border-top: solid 2px; border-bottom: solid 2px">4075.78</td>
                    <td style="text-align: right;"></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div id="cat-puestos" style="color: black; font-size: 8px;">
              <table class="table">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Nombre</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let p of puestos; let pindex = index">
                    <td>{{pindex + 1}}</td>
                    <td>{{p.nombre}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div id="cat-partidos" style="color: black; font-size: 8px;">
              <table class="table">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Nombre</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let p of partidos; let pindex = index">
                    <td>{{pindex + 1}}</td>
                    <td>{{p.nombre}}</td>
                  </tr>
                </tbody>
              </table>
            </div>


          </div>

        </div>
      </div>
    </div>
  </div>

</div>